<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OPENSHOP微兑奖</title>
<link href="templates/excheck/share/images/favicon.ico" rel="shortcut icon"/>
<link href="templates/excheck/share/css/share.css" rel="stylesheet" type="text/css"/>
<link href="templates/excheck/admin/css/default/login.css" rel="stylesheet" type="text/css"  />
<link href="templates/excheck/admin/css/default/share.css" rel="stylesheet" type="text/css"  />
<script src="templates/excheck/share/js/jquery-1.11.0.js"></script>
<script src="templates/excheck/admin/js/login.js"></script>
<script type="text/javascript" src="templates/excheck/admin/js/jquery.md5.js"></script>
<script type="text/javascript" src="templates/excheck/admin/js/m.shop.js"></script>
</head>

<body id="loginBody">
<form action="openshop.php?m=login" method="POST" id="loginform">
<div id="loginBezel">
<!-- <div id="loginChildTop" onclick="hideLoginBezel()" title="点击将隐藏登录小窗口">　CMS管理平台</div> -->
<div id="loginChildTop">　<img src="templates/excheck/admin/images/logo-right.png" width="57" height="50" align="absbottom"  /> OPENSHOP微兑奖</div>
<div id="loginChildBottom">

<table cellpadding="0" cellspacing="0" width="100%" height="95%" border="0">
<tr>
<td align="right" width="35%">账　号：</td>
<td align="left" width="65%"><input type="text" id="account" name="user_name"  class="inputUP"/></td>
</tr>
<tr>
<td align="right">密　码：</td>
<td align="left"><input type="password" id="pwd" name="password" class="inputUP"/></td>
</tr>

<tr>
<td align="center" colspan="2"><input type="submit"   id="toLogin" value="登　录"/> </td>
</tr> 
</table>
</div>
</div>
</form>

</body>
</html>
<script type="text/javascript">
<!--
$("#loginform").submit(function ()
    { 
      
       	if($("#account").val()=='' || $("#pwd").val()=='')
        {
            alert("用户名/密码为空,请重新输入");
            return false;
        }
        else
        {
            md_login();
            //return false;
        }
 
  })

-->
</script>