<!DOCTYPE html><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>微信营销108招</title>
<link type="text/css" rel="stylesheet" href="css/base.css?1445578295">
<link type="text/css" rel="stylesheet" href="css/layout.css?1445578295">
<style type="text/css">
a{color:black;}
body{font-size:15px;}
</style>
</head>
<body>
<div style="text-align:right"><img src="images/ebook/cont.png" style="width:60%"></div>
<!--<p style="text-align:right"><span style="color:green;font-weight:bold;font-size:35px;font-family:微软雅黑">C</span>
<span style="font-size:30px;font-weight:bold;font-family:微软雅黑;padding-right:40px">目录</span>-->
<div style="padding-left:20px;line-height:30px">
<a href="/me/ebookPage1">第 1 招&nbsp;&nbsp;利用一切载体做营销</a><br>
<a href="/me/ebookPage2">第 2 招&nbsp;&nbsp;用昵称精准抵达</a><br>
<a href="/me/ebookPage3">第 3 招&nbsp;&nbsp;头像决定你的交往</a><br>
<a href="/me/ebookPage4">第 4 招&nbsp;&nbsp;用QQ号或手机号做微信号</a><br>
<a href="/me/ebookPage5">第 5 招&nbsp;&nbsp;个性签名传递更多信息</a><br>
<a href="/me/ebookPage6">第 6 招&nbsp;&nbsp;个性定制相册封面</a><br>
<a href="/me/ebookPage7">第 7 招&nbsp;&nbsp;所在位置变身营销载体</a><br>
<a href="/me/ebookPage8">第 8 招&nbsp;&nbsp;添加朋友，先做自我介绍</a><br>
<a href="/me/ebookPage9">第 9 招&nbsp;&nbsp;把二维码设为手机桌面</a><br>
<a href="/me/ebookPage10">第 10 招&nbsp;&nbsp;导入QQ和手机好友</a><br>
<a href="/me/ebookPage11">第 11 招&nbsp;&nbsp;多人聚会，面对面建群或雷达加朋友</a><br>
<a href="/me/ebookPage12">第 12 招&nbsp;&nbsp;为新朋友设置备注信息</a><br>
<a href="/me/ebookPage13">第 13 招&nbsp;&nbsp;设置朋友圈权限</a><br>
<a href="/me/ebookPage14">第 14 招&nbsp;&nbsp;重要好友，设为星标好友</a><br>
<a href="/me/ebookPage15">第 15 招&nbsp;&nbsp;更重要好友，聊天置顶</a><br>
<a href="/me/ebookPage16">第 16 招&nbsp;&nbsp;设置聊天背景，打败脸盲症</a><br>
<a href="/me/ebookPage17">第 17 招&nbsp;&nbsp;让对方记住你的大杀器 </a><br>
<a href="/me/ebookPage18">第 18 招&nbsp;&nbsp;善用“我的收藏”</a><br>
<a href="/me/ebookPage19">第 19 招&nbsp;&nbsp;对话内容以一屏为上限</a><br>
<a href="/me/ebookPage20">第 20 招&nbsp;&nbsp;使用群发助手功能</a><br>
<a href="/me/ebookPage21">第 21 招&nbsp;&nbsp;可以群发广告，不要群发鸡汤</a><br>
<a href="/me/ebookPage22">第 22 招&nbsp;&nbsp;发朋友圈最好图文并茂 </a><br>
<a href="/me/ebookPage23">第 23 招&nbsp;&nbsp;朋友圈文字也有标准格式</a><br>
<a href="/me/ebookPage24">第 24 招&nbsp;&nbsp;朋友圈内容不宜过长</a><br>
<a href="/me/ebookPage25">第 25 招&nbsp;&nbsp;巧用评论功能，传递更多信息</a><br>
<a href="/me/ebookPage26">第 26 招&nbsp;&nbsp;少发硬广，多发软文</a><br>
<a href="/me/ebookPage27">第 27 招&nbsp;&nbsp;产品体验是最有效的软文</a><br>
<a href="/me/ebookPage28">第 28 招&nbsp;&nbsp;用讲故事的方法发广告</a><br>
<a href="/me/ebookPage29">第 29 招&nbsp;&nbsp;受众的四大需求</a><br>
<a href="/me/ebookPage30">第 30 招&nbsp;&nbsp;明确你自己的标签</a><br>
<a href="/me/ebookPage31">第 31 招&nbsp;&nbsp;重复才是天机</a><br>
<a href="/me/ebookPage32">第 32 招&nbsp;&nbsp;创新！创新！再创新！</a><br>
<a href="/me/ebookPage33">第 33 招&nbsp;&nbsp;公众号内容也要适合手机阅读</a><br>
<a href="/me/ebookPage34">第 34 招&nbsp;&nbsp;像做广告文案一样做公众号标题</a><br>
<a href="/me/ebookPage35">第 35 招&nbsp;&nbsp;做公众号标题的14个技巧</a><br>
<a href="/me/ebookPage36">第 36 招&nbsp;&nbsp;文案的本质是诱惑和承诺</a><br>
<a href="/me/ebookPage37">第 37 招&nbsp;&nbsp;善于结合热点</a><br>
<a href="/me/ebookPage38">第 38 招&nbsp;&nbsp;注重SEO友好性</a><br>
<a href="/me/ebookPage39">第 39 招&nbsp;&nbsp;中文更方便搜索</a><br>
<a href="/me/ebookPage40">第 40 招&nbsp;&nbsp;搭配图片更抢眼</a><br>
<a href="/me/ebookPage41">第 41 招&nbsp;&nbsp;用小标题提纲挈领</a><br>
<a href="/me/ebookPage42">第 42 招&nbsp;&nbsp;使用最简单的并列结构</a><br>
<a href="/me/ebookPage43">第 43 招&nbsp;&nbsp;开门见山，重点前置</a><br>
<a href="/me/ebookPage44">第 44 招&nbsp;&nbsp;多分行，用短句</a><br>
<a href="/me/ebookPage45">第 45 招&nbsp;&nbsp;提供实用价值</a><br>
<a href="/me/ebookPage46">第 46 招&nbsp;&nbsp;从“你”出发，而非从“我”出发</a><br>
<a href="/me/ebookPage47">第 47 招&nbsp;&nbsp;用利他心态玩微信</a><br>
<a href="/me/ebookPage48">第 48 招&nbsp;&nbsp;公众号编撰的13个技巧</a><br>
<a href="/me/ebookPage49">第 49 招&nbsp;&nbsp;建立微信营销矩阵</a><br>
<a href="/me/ebookPage50">第 50 招&nbsp;&nbsp;一技在手交换资源</a><br>
<a href="/me/ebookPage51">第 51 招&nbsp;&nbsp;让自己成为专家</a><br>
<a href="/me/ebookPage52">第 52 招&nbsp;&nbsp;出版与微信相得益彰</a><br>
<a href="/me/ebookPage53">第 53 招&nbsp;&nbsp;知名度是最重要的</a><br>
<a href="/me/ebookPage54">第 54 招&nbsp;&nbsp;会叫的人才有机会</a><br>
<a href="/me/ebookPage55">第 55 招&nbsp;&nbsp;多跟陌生人打交道</a><br>
<a href="/me/ebookPage56">第 56 招&nbsp;&nbsp;结交比你更成功的人</a><br>
<a href="/me/ebookPage57">第 57 招&nbsp;&nbsp;打造你的优质人脉</a><br>
<a href="/me/ebookPage58">第 58 招&nbsp;&nbsp;主动“出击”才会被发现</a><br>
<a href="/me/ebookPage59">第 59 招&nbsp;&nbsp;多跟名人合影</a><br>
<a href="/me/ebookPage60">第 60 招&nbsp;&nbsp;用美图秀秀给照片加上说明</a><br>
<a href="/me/ebookPage61">第 61 招&nbsp;&nbsp;慎用语音聊天</a><br>
<a href="/me/ebookPage62">第 62 招&nbsp;&nbsp;用快捷服务编辑短语</a><br>
<a href="/me/ebookPage63">第 63 招&nbsp;&nbsp;用最快的速度占领脑海</a><br>
<a href="/me/ebookPage64">第 64 招&nbsp;&nbsp;为你的名字打工</a><br>
<a href="/me/ebookPage65">第 65 招&nbsp;&nbsp;我们只记住我们记住的</a><br>
<a href="/me/ebookPage66">第 66 招&nbsp;&nbsp;在细分领域成为第一</a><br>
<a href="/me/ebookPage67">第 67 招&nbsp;&nbsp;用一到六个点支持你的创意</a><br>
<a href="/me/ebookPage68">第 68 招&nbsp;&nbsp;引爆你和你的朋友的朋友圈</a><br>
<a href="/me/ebookPage69">第 69 招&nbsp;&nbsp;每件事都要打上你的烙印</a><br>
<a href="/me/ebookPage70">第 70 招&nbsp;&nbsp;永远保持巅峰状态，转角才会遇上爱</a><br>
<a href="/me/ebookPage71">第 71 招&nbsp;&nbsp;设置门槛，身价才更高</a><br>
<a href="/me/ebookPage72">第 72 招&nbsp;&nbsp;建立信任比满足需要更重要</a><br>
<a href="/me/ebookPage73">第 73 招&nbsp;&nbsp;善用免费思维</a><br>
<a href="/me/ebookPage74">第 74 招&nbsp;&nbsp;寻找高价值信任背书</a><br>
<a href="/me/ebookPage75">第 75 招&nbsp;&nbsp;利用好优质人脉</a><br>
<a href="/me/ebookPage76">第 76 招&nbsp;&nbsp;让朋友连接到朋友</a><br>
<a href="/me/ebookPage77">第 77 招&nbsp;&nbsp;利用微信做众筹</a><br>
<a href="/me/ebookPage78">第 78 招&nbsp;&nbsp;众筹有无限可能性</a><br>
<a href="/me/ebookPage79">第 79 招&nbsp;&nbsp;微信众筹的10个关键词</a><br>
<a href="/me/ebookPage80">第 80 招&nbsp;&nbsp;不要只点赞，要多评论</a><br>
<a href="/me/ebookPage81">第 81 招&nbsp;&nbsp;要真正了解一个人，看完他的朋友圈</a><br>
<a href="/me/ebookPage82">第 82 招&nbsp;&nbsp;别人对你的态度是你塑造出来的</a><br>
<a href="/me/ebookPage83">第 83 招&nbsp;&nbsp;反弹琵琶，更抓眼球</a><br>
<a href="/me/ebookPage84">第 84 招&nbsp;&nbsp;选好产品是基础</a><br>
<a href="/me/ebookPage85">第 85 招&nbsp;&nbsp;做好服务是保障</a><br>
<a href="/me/ebookPage86">第 86 招&nbsp;&nbsp;最重要的是把自己推销出去</a><br>
<a href="/me/ebookPage87">第 87 招&nbsp;&nbsp;倡导一种生活方式</a><br>
<a href="/me/ebookPage88">第 88 招&nbsp;&nbsp;做好产品，口口相传</a><br>
<a href="/me/ebookPage89">第 89 招&nbsp;&nbsp;充分发掘老用户的潜力</a><br>
<a href="/me/ebookPage90">第 90 招&nbsp;&nbsp;得女人者得天下</a><br>
<a href="/me/ebookPage91">第 91 招&nbsp;&nbsp;暴利少销也是方向</a><br>
<a href="/me/ebookPage92">第 92 招&nbsp;&nbsp;用高大上的群吸引高大上的粉</a><br>
<a href="/me/ebookPage93">第 93 招&nbsp;&nbsp;双微营销：从微博到微信</a><br>
<a href="/me/ebookPage94">第 94 招&nbsp;&nbsp;微信与微博的差异化定位</a><br>
<a href="/me/ebookPage95">第 95 招&nbsp;&nbsp;从微信到现实的全网布局</a><br>
<a href="/me/ebookPage96">第 96 招&nbsp;&nbsp;在合适时间段发布内容</a><br>
<a href="/me/ebookPage97">第 97 招&nbsp;&nbsp;让微信照亮现实</a><br>
<a href="/me/ebookPage98">第 98 招&nbsp;&nbsp;要娱乐化，要精准化</a><br>
<a href="/me/ebookPage99">第 99 招&nbsp;&nbsp;大量吸粉，更好精准吸粉</a><br>
<a href="/me/ebookPage100">第 100 招&nbsp;&nbsp;入微信群后，遍加群内好友</a><br>
<a href="/me/ebookPage101">第 101 招&nbsp;&nbsp;让红包飞起来</a><br>
<a href="/me/ebookPage102">第 102 招&nbsp;&nbsp;不要贪恋免费的午餐</a><br>
<a href="/me/ebookPage103">第 103 招&nbsp;&nbsp;让受众帮你传播</a><br>
<a href="/me/ebookPage104">第 104 招&nbsp;&nbsp;大家一起刮刮奖</a><br>
<a href="/me/ebookPage105">第 105 招&nbsp;&nbsp;竞争对手是最好的老师</a><br>
<a href="/me/ebookPage106">第 106 招&nbsp;&nbsp;马太效应无处不在</a><br>
<a href="/me/ebookPage107">第 107 招&nbsp;&nbsp;营销不成功，有四个原因</a><br>
<a href="/me/ebookPage108">第 108 招&nbsp;&nbsp;大量行动才是关键</a>
</div>
<div style="height:80px">



{include file="cs/foot_2.html"}



</div></body></html>