<!DOCTYPE html><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title></title>
<link type="text/css" rel="stylesheet" href="css/base.css?1445578251">
<link type="text/css" rel="stylesheet" href="css/layout.css?1445578251">
</head>
<body>
<div id="bd" style="width: 740px; height: 673px; border: 0px solid red; overflow: hidden;">
	<a href="ebooklist.php"><img src="images/book_on.jpg" width="100%"></a>
</div>



{include file="cs/foot_2.html"}

<script type="text/javascript">
window.onload = function(){                                       //页面刚加载时启动
   	var width=document.documentElement.clientWidth;
	var height = document.documentElement.clientHeight;
	var bd = document.getElementById("bd");
	//console.log(bd);
	bd.style.cssText="width:"+width+"px;height:"+height+"px;border:0px solid red;overflow:hidden;"; 
}
</script>


</body><iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe><iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe></html>