<!Doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="" name="csrf-param">
<meta content="" name="csrf-token">
<title>关于平台</title>
<link type="text/css" rel="stylesheet" href='css/sendcard.css?1444794122' />
<link type="text/css" rel="stylesheet" href='css/base.css?1444794122' />

</head>
<body ontouchstart="">
<!--主DIV-->
<div data-role="page" class="page">
  <header data-role="header" class="">
    <h1> <i class="fontello-plane-outline"></i>关于平台 </h1>
  </header>
  <div class="main" data-role="content">
    <div class="main-content">
蚂蚁梦想汇是兼职创客们共同营造的学习互动平台，让每一位奋斗上进的小伙伴都能轻松触碰自己的梦想。后期蚂蚁梦想汇平台还不断升级，可以为小伙伴们带来更丰盛的收入和体验。<br>
平台主治：时间多，无聊，想赚钱！<br>
功    能：日赚100-1000，主动结算，每天空闲时间可做。<br>
适用人群：全职宝妈、学生党、上班族、创业兼职、只要有手机和手指！
    </div>
  </div>
</div>
</body>
</html>


