
<!--底部导航-->
<!--顶层菜单 -->

<!--主菜单开始-->
  <div class="navigation_bar_abs">
    <ul class="list">
           <a href="getmycode.php" opt="directd">
					<div class="botml on">我的贺卡</div>
		      </a> 
	  <a href="mycommission.php" opt="directd">
					<div class="botmm">我的红包积分</div>
		      </a> 
	  <!--<a href="/DreamSinks/index" opt='directd'>
					<li class="icon-friends wx"></li>
		      </a> -->
	  <a href="index.php" opt="directd">
					<div class="botmr">个人中心</div>
		      </a>
    </ul>
  </div>
<!--主菜单结束-->

<!--底部导航end-->
