<!--顶层菜单 -->

<!--主菜单开始-->
  <div class="navigation_bar">
    <ul class="list">
      <a href="getmycode.php" opt="directd">
					<div class="botml on">我的名片</div>
		      </a> 
	  <a href="mycommission.php" opt="directd">
					<div class="botmm">公司总业绩</div>
		      </a> 
	  <!--<a href="/DreamSinks/index" opt='directd'>
					<li class="icon-friends wx"></li>
		      </a> -->
	  <a href="index.php" opt="directd">
					<div class="botmr">个人中心</div>
		      </a>
    </ul>
  </div>
<!--主菜单结束-->