<!doctype html>
<html><!-- InstanceBegin template="/Templates/tp-1.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<!-- InstanceBeginEditable name="doctitle" -->
<title>我是董事长</title>
<link type="text/css" rel="stylesheet" href='css/base.css?1444794173' />
<link type="text/css" rel="stylesheet" href='css/style.css?1444794173' />
<link type="text/css" rel="stylesheet" href='css/layout.css?1444794173' />
</head>
<body>
<div> 
  <div class="reldiv">
  <!--1-->
  	<div class="rel mrel">
    	<div class="mreltop">
        	<div class="left"><font size="+2"></font>总经理</div>
           <a href="mycomrades.php?g=memberlist&type=1&u=378143"><div class="right">查看详情 <span><img src="images/jiantou3.png"></span></div></a>
        </div>
        <div class="clear"></div>
        <div class="mrelbotm">
        <div class="left fbotm">今日新增：<label>{$fcarr.yjfx.tdsl}</label></div>
        <div class="fbotm right ">总计：<label>{$fcarr.yjfx.sl}</label></div>
        </div>
    </div>
     <!--2-->
    <div class="rel mrel">
    	<div class="mreltop">
        	<div class="left"><font size="+2"></font>总监</div>
           <a href="mycomrades.php?g=memberlist&type=2&u=378143"><div class="right">查看详情 <span><img src="images/jiantou3.png"></span></div></a>
        </div>
        <div class="clear"></div>
        <div class="mrelbotm">
        <div class="left fbotm">今日新增：<label>{$fcarr.ejfx.tdsl}</label></div>
        <div class="fbotm right ">总计：<label>{$fcarr.ejfx.sl}</label></div>
        </div>
    </div>
     <!--3-->
    <div class="rel mrel">
    	<div class="mreltop">
        	<div class="left"><font size="+2"></font>经理</div>
           <a href="mycomrades.php?g=memberlist&type=3&u=378143"><div class="right">查看详情 <span><img src="images/jiantou3.png"></span></div></a>
        </div>
        <div class="clear"></div>
        <div class="mrelbotm">
        <div class="left fbotm">今日新增：<label>{$fcarr.sjfx.tdsl}</label></div>
        <div class="fbotm right ">总计：<label>{$fcarr.sjfx.sl}</label></div>
        </div>
    </div>
</div>


{include file="cs/foot_2.html"}


</div>
</html>
