<!Doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>我的订单</title>
<link type="text/css" rel="stylesheet" href='css/base.css?1444794340' />
<link type="text/css" rel="stylesheet" href='css/style.css?1444794340' />
<link type="text/css" rel="stylesheet" href='css/layout.css?1444794340' />
<script src="js/zepto.min.js?1444794340" type="text/javascript"></script>
<script src="js/layer.m.js?1444794340" type="text/javascript"></script>
<script src="js/validate.js?1444794340" type="text/javascript"></script>
</head>
<body>
<div id="bodyDiv"> 
   <!--地址-->
   <div class="addess">
     <div class="addess_top">
     <div class="addess_l">{if $is_address==1}{$wxaddress.userName}{/if}&nbsp;&nbsp;{if $is_address==1}{$wxaddress.telNumber}{/if}</div>
		<a href="javascript:editAddress();"><div class="addess_r">修改地址</div></a>
        <div class="clear"></div>
        
        
      
        
		     </div>
	      <div class="addess_bm">{if $is_address==1}{$wxaddress.proviceFirstStageName}{$wxaddress.addressCitySecondStageName}{$wxaddress.addressCountiesThirdStageName}{$wxaddress.addressDetailInfo}{/if}</div>
	    </div>
   
   	<div class="orders" style="display: none;">
    <div class="orders_top">
     <div class="orders_time">下单时间：2015-10-19 16:21</div>
	 <a id="addAddress" href="javascript:editAddress();" style="display:none;"><div class="confirm">收货地址</div></a>
    </div>
    <div class="orders_deli">
	  <a href="javascript:viewBookDetail();">
      <div class="orders_pic"><img src="/images/book_03.png?333">
	  <div class="autho">查看作者简介</div>
	  </div>
	  </a>
      <div class="orders_text">
        <ul>
        <li>订单号：<span  class="bolder">144524288110451</span></li>
		<li>订单：<span class="bolder">《微信营销108招》+<br>
        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;60万高端客户资源
                 </span></li>
        <li>价&nbsp;&nbsp;值：99元</li>
        </ul>
       </div>
        </div>
          <!--新增物流-->
        <div class="orders_bom">
          <div class="orders_log" style="">物流信息：&nbsp;&nbsp;中通快递 &nbsp;&nbsp;719051405 547</div>
      </div>   
   </div>
             
	    </div>
   
   	<div class="cp" {if $is_address==1}{else}style="display:none;"{/if} > 
     <h2 style="color:#CB3536">温馨提醒</h2> 
     <div>  	
    1、	因订单量巨大，一般付款后一周（7个工作日）内发货；<br />
    2、	已发货的订单会在“物流信息”栏显示快递公司和单号。快递通常需要一周时间，请注意查收；<br />
    3、	因为是采用全国集中仓储配送系统，每个城市的到货时间都不一样，请耐心等候，有问题请咨询客服。感谢您的支持！<br />
    4、	如果产品没有质量问题不能退货，否则请联系客服。	
     </div>
    </div>	
    <div class="kongbai1"></div>       


{include file="cs/foot_2.html"}


</div>

<div id="bookDetail" style="width:100%;height:100%;display:none;">
	<div class="depict_img">
		 <img src="images/depict_01.jpg">
		 <img src="images/depict_02.jpg">
		 <img src="images/depict_03.jpg">
		 <img src="images/depict_04.jpg">
		 <img src="images/depict_05.jpg">
		 <img src="images/depict_06.jpg">
		 <img src="images/depict_07.jpg">
		 <img src="images/depict_08.jpg">
		 <img src="images/depict_09.jpg">
		 <img src="images/depict_10.jpg">
		 <img src="images/depict_11.jpg">
		 <img src="images/depict_12.jpg">
		 <img src="images/depict_13.jpg">
		 <img src="images/depict_14.jpg">
		 <img src="images/depict_15.jpg">
		 <img src="images/depict_16.jpg">
		 <img src="images/depict_17.jpg">
		 <img src="images/depict_18.jpg">
		 <img src="images/depict_19.jpg">
		 <img src="images/depict_20.jpg">
	</div>
    <div class="kongbai1"></div>       
  
  
{include file="cs/foot_2.html"}
  
  
</div>

<script type="text/javascript">
var baseUrl = "";

$(function(){
	if (window.history && window.history.pushState) {

		$(window).on('popstate', function () {
		var hashLocation = location.hash;
		var hashSplit = hashLocation.split("#!/");
		var hashName = hashSplit[1];
		if (hashName !== '') {
		var hash = window.location.hash;
		if (hash === '') {
			$("#bookDetail").hide();
			$("#bodyDiv").show();
		}
		}
		});
		
	}
	
})

//查看作者简介
function viewBookDetail()
{
	window.history.pushState('forward', null, '#forward');
	$('#bookDetail').show();
	$('#bodyDiv').hide();
}


//新增编辑收货地址
function editAddress()
{
	var url = '{$baseUrl}';
	var accesstoken = '{$access_token}';
    
    
   
	//获取共享收货地址所需要签名及参数
	$.ajax({
		url: baseUrl + "myorder.php",
		type: "post",
		data: {'url':url,'accesstoken':accesstoken,'g':'getpackageinfoeditaddress'},
		dataType: 'json',
		success:function(data){
			if(data != undefined){
			    //alert(data.addrSign);
				WeixinJSBridge.invoke('editAddress',data,function(res){
				    //alert(res.err_msg);
					if(res.err_msg == 'edit_address:ok'){
						if(res.username != '')
						{
						  
							//保存地址，刷新页面
							$.post(baseUrl+'myorder.php?g=addresssave',{'name':res.userName,'phone':res.telNumber,'zip_code':res.addressPostalCode,'province':res.proviceFirstStageName,'city':res.addressCitySecondStageName,'country':res.addressCountiesThirdStageName,'detail_address':res.addressDetailInfo},function(result){
								if(result.status == 'success'){
							
									layer.open({
										content: '添加成功',
									});
									//保存成功显示收货地址、物流信、温馨提醒等
									$(".addess").html('<div class="addess_top"><div class="addess_l">'+res.userName+'&nbsp;&nbsp;'+res.telNumber+'</div><a href="javascript:editAddress();"><div class="addess_r">修改地址</div></a>    <div class="clear"></div></div><div class="addess_bm">'+res.proviceFirstStageName+res.addressCitySecondStageName+res.addressCountiesThirdStageName+res.addressDetailInfo+'</div>');
							
									$("#addAddress").hide();
									$(".orders_log").show();
									$(".cp").show();
								}else{
									layer.open({
										content: "数据异常",
									});
								}
							},'json');
						}else{
							//返回值为空
						}
					}else{
						//edit_address:cancel 表示用户取消了这一次编辑收货地址
						//edit_address:fail 编辑获取收货地址失败
						//layer.open({content:res.err_msg});
					}
				})
			}
		},
		error:function(reason){
			layer.open({
				content: '共享收货地址请求失败，请重试！',
			});
		},
	});	
}
</script>
</body>
</html>
