<!Doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>常见问题回答</title>
<link type="text/css" rel="stylesheet" href='css/base.css?1444793857' />
<link type="text/css" rel="stylesheet" href='css/rarrow.css?1444793857' />
</head>
<body>
<div class="ptbaner_bg">
常见问题回答
</div>
<div class="ptdiv">
	<ol>
    	
    	<a href="pt4.php"><li class="oliborder libgc">1.佣金如何结算？ <span class="icon-rarrow"></span></li></a>
		
    	<a href="pt3.php"><li class="oliborder">2.奖励机制？<span class="icon-rarrow"></span></li></a>
		
		<a href="feedback.php"><li class="oliborder libgc">3.关于平台？ <span class="icon-rarrow"></span></li></a>
		
		<a href="contactkehu.php"><li class="oliborder">4.联系客服 <span class="icon-rarrow"></span></li></a>
		
		
		
		
      <!--  <a href="feedback.php"><li class="oliborder libgc">4.问题反馈 <span class="icon-rarrow"></span></li></a>-->
    </ol>
</div>
<a href="index.php"><div class="ptfoot">进入平台</div></a>
</body>
</html>
