<!Doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>佣金如何结算</title>
<link type="text/css" rel="stylesheet" href='css/base.css?1444794051' />
<link type="text/css" rel="stylesheet" href='css/rarrow.css?1444794051' />
</head>
<body class="ptbf">
<!--背景-->
<div class="ptbgimg">
	<img src="images/ptbg.jpg" width="100%" height="100%">
</div>
<div class="imgdiv">
<div class="title_pt">佣金如何结算？</div>
<div class="answer_pt"><label>答：</label>目前拥金每日主动以红包形式发到您的账户，每日都有惊喜，请关注蚂蚁梦想汇公众号注意查收，谨防遗漏。关于佣金结算方面有不清楚的地方请联系客服。</div>
</div>
</body>
</html>
