<!DOCTYPE html><html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>weixin://private/setresult/SCENE_FETCHQUEUE&amp;eyJmdW5jIjoibG9nIiwicGFyYW1zIjp7Im1zZyI6Il9ydW5PbjNyZEFwaUxpc3QgOiBtZW51OnNoYXJlOnRpbWVsaW5lLG1lbnU6c2hhcmU6YXBwbWVzc2FnZSxvblZvaWNlUmVjb3JkRW5kLG9uVm9pY2VQbGF5QmVnaW4sb25Wb2ljZVBsYXlFbmQsb25Mb2NhbEltYWdlVXBsb2FkUHJvZ3Jlc3Msb25JbWFnZURvd25sb2FkUHJvZ3Jlc3Msb25Wb2ljZVVwbG9hZFByb2dyZXNzLG9uVm9pY2VEb3dubG9hZFByb2dyZXNzLG1lbnU6c2V0Zm9udCxtZW51OnNoYXJlOndlaWJvLG1lbnU6c2hhcmU6ZW1haWwsd3hkb3dubG9hZDpzdGF0ZV9jaGFuZ2UsaGRPbkRldmljZVN0YXRlQ2hhbmdlZCxhY3Rpdml0eTpzdGF0ZV9jaGFuZ2UifSwiX19tc2dfdHlwZSI6ImNhbGwiLCJfX2NhbGxiYWNrX2lkIjoiMTAwMCJ9</title>
<link type="text/css" rel="stylesheet" href="/css/base.css?1445838214">
<link type="text/css" rel="stylesheet" href="/css/layout.css?1445838214">
<link type="text/css" rel="stylesheet" href="/css/style.css?1445838214">
<link type="text/css" rel="stylesheet" href="/css/scrollBar.css?1445838214">
<script src="/js/zepto.min.js?1445838214" type="text/javascript"></script>
<script src="/js/underscore-min.js?1445838214" type="text/javascript"></script>
<script src="/js/layer.m.js?1445838214" type="text/javascript"></script><link href="http://wx.cc0571.com/js/need/layer.css" type="text/css" rel="styleSheet" id="layermcss">
</head><iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe><iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe>
<body>
<div id="wrapper" style="top:0px;bottom:50px;">
	<div id="scroller">
		<div> 
		<!--顶部bar-->
		<div class="index_bar">
		  <div class="lsearch">
			<div class="index_search"></div>
		  </div>
		  <!--<a href="javascript:;" onclick="report();">
			<div class="index_hongbao">
				<div class="red">
			   <label>举报 </label></div>
			</div>
		  </a>-->
		</div>
		<!--顶部bar结束-->
		<div class="kongbai"></div>

		<form method="get" action="/fanGroup/SetupSearch">
		<div class="search_div">
		<div class="srequire">搜索条件:</div>
			<dl>
				<dt>性别:</dt>
				<dd>
					<label><input class="sex" type="radio" name="userBaseInfo[sex]" value="1">男&nbsp;</label>
					<label><input class="sex" type="radio" name="userBaseInfo[sex]" value="2">女&nbsp;</label>
					<label><input class="sex" type="radio" name="userBaseInfo[sex]" value="3" checked="">不限&nbsp;</label>
				</dd>
				<dt class="dq">地区:</dt>
				<dd>
					<select name="userBaseInfo[province]" class="select">
						<option value="-1" selected="selected">不限</option>
												<option value="1">北京市</option>
												<option value="2">上海市</option>
												<option value="3">天津市</option>
												<option value="4">重庆市</option>
												<option value="5">河北省</option>
												<option value="6">山西省</option>
												<option value="7">内蒙古自治区</option>
												<option value="8">辽宁省</option>
												<option value="9">吉林省</option>
												<option value="10">黑龙江省</option>
												<option value="11">江苏省</option>
												<option value="12">浙江省</option>
												<option value="13">安徽省</option>
												<option value="14">福建省</option>
												<option value="15">江西省</option>
												<option value="16">山东省</option>
												<option value="17">河南省</option>
												<option value="18">湖北省</option>
												<option value="19">湖南省</option>
												<option value="20">广东省</option>
												<option value="21">广西壮族自治区</option>
												<option value="22">海南省</option>
												<option value="23">四川省</option>
												<option value="24">贵州省</option>
												<option value="25">云南省</option>
												<option value="26">西藏自治区</option>
												<option value="27">陕西省</option>
												<option value="28">甘肃省</option>
												<option value="29">青海省</option>
												<option value="30">宁夏回族自治区</option>
												<option value="31">新疆维吾尔自治区</option>
												<option value="32">台湾省</option>
												<option value="33">香港特别行政区</option>
												<option value="34">澳门特别行政区</option>
											</select>
				</dd>
				<dt></dt>
				<dd>
					<select name="userBaseInfo[city]" class="select">
				
					<option value="-1">不限</option>
				
					<option value="105">南京市</option>
				
					<option value="106">无锡市</option>
				
					<option value="107">徐州市</option>
				
					<option value="108">常州市</option>
				
					<option value="109">苏州市</option>
				
					<option value="110">南通市</option>
				
					<option value="111">连云港市</option>
				
					<option value="112">淮安市</option>
				
					<option value="113">盐城市</option>
				
					<option value="114">扬州市</option>
				
					<option value="115">镇江市</option>
				
					<option value="116">泰州市</option>
				
					<option value="117">宿迁市</option>
				
				</select>
				</dd>
				<script type="text/template" id="tpl">
				<% _.each(datas, function(item) {%>
					<option value='<%= item.city_id%>'><%= item.city_name %></option>
				<% }); %>
				</script>
				<dt>昵称:</dt>
				<dd>
					<input name="userBaseInfo[nickname]" type="text" class="inputnamemy">
				</dd>
				<dt>会员ID:</dt>
				<dd>
					<input name="userBaseInfo[user_id]" type="text" class="inputnamemy">
				</dd>
			</dl>
		</div>
		</form>
		<button class="searchbtn" onclick="$('form').submit();">搜&nbsp;索</button>
		<div class="kongbai"></div>
		</div>
	</div>
</div>
{include file="cs/foot.html"}



<script type="text/javascript">
var datas;
var ProvinceCityMapping = {
	New: function() {
		var provinceCityMapping = {};
		$("select[name='userBaseInfo[province]']").change(function(event){
			if($("select[name='userBaseInfo[province]']").val()!=-1){
				var loadingLayer;
				$.ajax({
					url: '/fanGroup/GetCitys',
					type: "post",
					data: {'province':$(this).val(),'province_name':$(this).find("option").not(function(){ return !this.selected }).text()},
					dataType: 'json',
					beforeSend:function(){
						//show loading layer 
						loadingLayer = layer.open({
							type: 2	//type of loading layer
						});
					},
					complete:function(){
						layer.close(loadingLayer);
					},
					success:function(data){
						if(data.code == 0)
						{
							datas = data.citys;
							var aArray = {};
							var city = data.citys[0]['city_id'];
							if(city==1||city==2||city==3||city==4||city==33||city==34){
							}else{
								aArray['city_id'] = "-1";
								aArray['city_name'] = "不限";
								datas.unshift(aArray); 
							}
							renderOption(datas);
						}
					},
					error:function(reason){
						layer.open({			
							content: '对不起，获取地市列表遇到错误['+reason.status + ":" + reason.statusText + ']，<br/>如果有其它疑问请联系客服：risingsu_8895。',
						});
					},
				});	
			}else{
				$("select[name='userBaseInfo[city]']").html("");
			}
		});
		
		function renderOption(datas){
			var list_view = $("#tpl").html();
			var rendered_view = _.template(list_view, datas);
			$("select[name='userBaseInfo[city]']").html("");
			$("select[name='userBaseInfo[city]']").append(rendered_view);
		}
		
		return provinceCityMapping;
	}
}	
	
$(document).ready(function(){
	var provinceCityMapping = ProvinceCityMapping.New();
});

//举报 
function report()
{
	layer.open({content:'涉嫌欺诈，色情，谣言，违法，侵权等请拨打<a href="tel:15067995220">15067995220</a>举报'});
}
</script>


</body></html>