/* 转载请保留版权信息：陌颜网络 www.zzyolo.com */
*{padding:0px;margin:0px}
img{border:none}
#content{margin:0px auto;overflow:hidden}
.waterfall{}
.dym-dl{padding-right:0px;float:left;overflow:hidden;position:relative}
.dym{border:1px solid #efeff0;background:#f7f7f7;height:auto;padding:5px;margin:0px 3px 3px 0px;float: left;overflow:hidden;display:inline}
.dym img{}
.zan{ color:  red;}