/* cms common ------------------------------------------ by lizhehao -------- */
.none           { display:none; }
.bg_white{background:#fff;}
/** box 模型*/
.cssBorder-box  { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.cssBox         { display:-moz-box; display:-webkit-box; display:-webkit-flex;display:flex;}
.box_flex_0     { -moz-box-flex:0.0; -webkit-box-flex:0.0; -webkit-flex: none; flex: none; }
.box_flex_1     { -moz-box-flex:1.0; -webkit-box-flex:1.0; -webkit-flex:1;flex:1; width:100%; }

/** box css_sprite*/

/** 商品名称*/
.item_title     { display:block; line-height:18px; height:36px; max-height:36px;overflow:hidden; }

/** 价格*/
.price .price_now       { color:#ff3c3c; margin-right:5px; }
.price .price_now > em  { font-size:16px; }
.price .price_old       { text-decoration:line-through; color:#999; }
.price .credit          { color:#999; margin-right:5px; }

/** 评价星星*/
.stars              { position:relative; margin:4px 0 1px 0; width:87px; height:16px; border-radius:8px; background-color:#fbf1c1; line-height:16px; }
.stars .layer0      { position:absolute; top:3px; left:5px; width:55px; height:10px; background:url(../../../images/star_0.png) no-repeat 0 0; background-size:55px auto; }
.stars .layer1      { position:absolute; top:0; left:0; width:80%; height:10px; background:url(../../../images/star_1.png) no-repeat 0 0; background-size:55px auto; }
.stars em           { position:absolute; right:5px; font-size:10px; }

/** 评价*/
.comment            { border-top:1px dashed #e5e5e5; line-height:22px; padding-top:8px; color:#999; } 
.comment > p        { line-height:18px; max-height:54px; overflow:hidden; }

/** 提示信息 红字*/
.waring_msg                 { color:#fe5955; }
.waring_msg .icon_warning   { display:block; width:23px; height:17px; background-position:-60px 0; }

/** 购物车弹窗*/
.cart_pop           { position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8); }
.cart_pop div       { top:50%; margin-top:-50px; position:absolute; width: 100%; height:120px; text-align:center; top:50%; margin-top:-60px; }
.cart_pop div span              { display:block; margin-top:10px; color:#fff; font-size:14px; }
.cart_pop div a:nth-child(2)    { display:block; margin:10px auto 0 auto; width:100px; height:30px; line-height:30px; border-radius:2px; color:#fff; background-color:#666; }
.cart_pop div a:nth-child(3)    { display:block; margin:10px auto 0 auto; width:120px; height:30px; line-height:30px; border-radius:2px; color:#fff; background-color:#FE5955; }

/* cms服装馆 page ------------------------------------------ by lizhehao -------- */
body .clothShop     { font-size:12px; color:#666; /* background-color:#f6f6f6; */ overflow:hidden; }

.clothShop  .icon_tuan        { display:inline-block; margin:0 8px 0 1px; width:15px; height:15px; background:url(../../../images/icon_tuan.png) no-repeat 0 0; background-size:100%; vertical-align:-3px; }

/** 1st banner*/
.clothShop .first_banner                { position:relative;box-shadow:0 0 4px #ccc; background-color:#fff; background-color:#fff; }
.clothShop .first_banner aside          { padding:5px 9px; }
.clothShop .first_banner aside span     { line-height:22px;}

/*new 轮播*/
.slider_imgs{position:relative;width:320px;height:90px;overflow:hidden;margin: 0 auto;}
.slider_imgs .inner{position:absolute;top:0;left:0;height:90px;overflow:hidden;white-space:nowrap;/*-webkit-transition:-webkit-transform 0.5s;*/-webkit-transition:left 0.5s;}
.slider_imgs .inner .img{display:inline-block;width:320px;height:90px;background-size:cover;}
.slider_imgs .indexs{position:absolute;bottom:5px;width:100%;height:5px;text-align:center;}
.slider_imgs .indexs span{display:inline-block;width:5px;height:5px;margin:0 4px;border-radius:5px;background:#999;font-size:0;vertical-align:top;}
.slider_imgs .indexs span.ac{background:#ff7878;}

/** cate_table 4*5 */
.clothShop .cate_table         { padding:10px 5px 0 10px; border-bottom:1px solid #e5e5e5; background-color:#fff; }
.clothShop .cate_table > div   { margin-bottom:10px; height:31px; }
.clothShop .cate_table span                { display:inline-block; width:21%; height:17px; border-right:1px solid #e5e5e5; text-align:center; }
.clothShop .cate_table span a:active       { color:#fe5955;}

.clothShop .cate_table span:nth-child(1)   { width:10%; min-width:31px; border-right:none; }
.clothShop .cate_table span:nth-child(5)   { border-right:none; }
.clothShop .cate_table img                 { width:29px; height:29px; border:1px solid #e5e5e5; }

/** acti_list 活动列表*/
.clothShop .acti_list              { background-color:#fff; }
.clothShop .acti_list > a          { border-bottom:1px solid #e5e5e5; padding:10px; }
.clothShop .acti_list > a > img        { display:block; width:99px; height:39px; border:1px solid #e5e5e5; }
.clothShop .acti_list > a > span       { display:block; line-height:41px; padding:0 10px; }
.clothShop .acti_list > a > i          { display:block; margin:14px 0 0 10px; width:7px; height:13px; background:url(../../../images/go_next.png) no-repeat 0 0; background-size:100% auto; }
.clothShop .acti_list > a:active          { background-color:#f6f6f6;  }

/** acti_banner_box 活动广告列表快*/
.clothShop .acti_banner_box    { padding:5px 3px 5px 5px; background-color:#f6f6f6; }
.clothShop .acti_banner_box > a        {background-size: cover;background-position: center; display:inline-block; margin:5px; width: 45%; width: -webkit-calc(50% - 12px); width:calc(50% - 12px);}
.clothShop .acti_banner_box > a > img  { width:100%; border:none; }
.clothShop .acti_banner_box > a:active  { opacity: 0.5;  }

/** goods_rec_box 商品推荐列表块*/
.clothShop .goods_rec_box       { padding:0 10px; background-color:#f6f6f6; }
.clothShop .goods_rec_box div:nth-child(2)  { margin-top:-1px; }
.clothShop .goods_rec_box a                 { background-size:cover;background-position:center; display:block; width:100%; height: 100%; position:relative; }
.clothShop .goods_rec_box a > .price_l      { position:absolute; display:block; bottom:0; left:0; background:url(../../../images/price_bg0.png) no-repeat 0 0; width:70px; height:16px; background-size:100% auto; line-height:16px; color:#fff; font-size:10px; text-indent:3px; }
.clothShop .goods_rec_box a > .price_l > em { font-size:12px; }
.clothShop .goods_rec_box a > img           { width:100%; border:1px solid #e5e5e5; }
.clothShop .goods_rec_box .moreBox          { background-color:#fe5955;position: relative; }
.clothShop .goods_rec_box .moreBox > p      { top:0;position: absolute; padding:7px 9px 0 9px;width: 90%; width: -webkit-calc(100% - 15px); width:calc(100% - 15px); height:100%; color:#fff; position:absolute; }
.clothShop .goods_rec_box .moreBox > span   { position:absolute; bottom:10px; margin:0 10px; height:17px; line-height:17px; border:none; border-radius:8px; background-color:#fff; font-size:0.8em; color:#fe5955; width: 80px; width: -webkit-calc(100% - 20px); width:calc(100% - 20px); text-align:center; }
.clothShop .goods_rec_box .moreBox .tri_right  { display:inline-block; margin-left:3px; width:0; height:0; overflow:hidden; padding:0; font-size:0; border:4px dashed transparent; border-left-style:solid; border-left-color:#fe5955; }


/** goods_rec_single 单个商品推荐*/
.clothShop .goods_rec_one{margin:0px;}
.goods_rec_one > span{display:block;padding:10px 0 0;}
.goods_rec_one .goods_box{position:relative;margin:0px 0 0px;box-shadow:0 1px 2px rgba(102,102,102,0.6);background:#fff;}
.goods_rec_one .head{position:relative;width:100%;height:autp;margin:10px 5px 0 -1px;border:1px solid #dedede;background-position:center;background-size:cover;}
.goods_rec_one .head a{display:block;}
.goods_rec_one .head a img{display:block;width:100%;height:auto; margin: 0px 0px 0px 0px;}
.goods_rec_one .head span{display:inline-block;position:absolute;top:-4px;right:4px;width:50px;height:40px;overflow:hidden;padding-right:3px;background-size:53px 41px;color:#fff;font-size:15px;text-align:center;background-image: url(images/xinpin1.png);}
.goods_rec_one .head span i{display:block;padding:4px 5px 0;line-height:16px;}
.goods_rec_one .head span em{padding-left:2px;font-size: 10px;line-height:40px;}
.goods_rec_one .head span em s{padding-right:2px;font-size:15px;text-decoration:none;vertical-align:-1px;}
.goods_rec_one .con{margin:12px 10px 0;border-bottom:1px dashed #eee;}
.goods_rec_one .con table{border-radius:3px;margin: 0 auto 12px;}
.goods_rec_one .con table td,.goods_rec_one .con table th{padding-left:11px;border:1px solid #e7e7e7;border-collapse:collapse;font-size:13px;text-align:left;}
.goods_rec_one .con table th{height:40px;color:#666;line-height:40px;font-weight:normal;}
.goods_rec_one .con table td{height:44px;color:#999;font-size:12px;line-height:14px;}
.goods_rec_one .con table td em{font-size:12px;}
.goods_rec_one .con table td ins{display:block;color:#fe5955;font-size:12px;line-height:14px;}
.goods_rec_one .con table td del{display:block;color:#999;line-height:14px;}
.goods_rec_one .con p{margin-bottom:8px;color:#999;font-size:13px;line-height:20px;}
.goods_rec_one .con p span{margin-right:8px;color:#fe5955;}
.goods_rec_one .con h2{margin-bottom:3px;font-size:14px;line-height:20px;font-weight:bold;}
.goods_rec_one .func{display:-webkit-box;display:-webkit-flex;display:flex;padding: 5px 5px;}
.goods_rec_one .func .price,.goods_rec_one .func .btn{-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.goods_rec_one .func .price del{display:block;color:#999;font-size:13px;margin-bottom:6px;}
.goods_rec_one .func .price ins{color:#ff3333;font-size:14px;}
.goods_rec_one .func .price ins i{font-size:16px;font-weight:bold;}
.goods_rec_one .func .btn_box{display:block;height:40px;margin:2px;color:#fff;text-align:center;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.goods_rec_one .func .btn{display:block;width:100%;height:40px;background:#fe5955;color:#fff;}
.goods_rec_one .func .unac{background:#ffba00;}
.goods_rec_one .func .btn span{display:block;padding-top:4px;color:#fff;font-size:16px;line-height:36px;}
.goods_rec_one .func .btn em{display:block;font-size:12px;line-height:15px;}


.goods_rec_one .func .btn2{display:block;width:100%;height:40px;background:#fe5955;color:#fff;}

.goods_rec_one .func .btn2 span{display:block;padding-top:4px;color:#fff;font-size:16px;line-height:36px;}
.goods_rec_one .func .btn2 em{display:block;font-size:12px;line-height:15px;}


.goods_rec_one .add_cart_btn{width:100%;height:40px;border:none;background-color:#fe5955;color:#fff;cursor:pointer;  }
.goods_rec_one .func .unhas{background:#d6d6d6;}
.goods_rec_one .go_more{margin-bottom:10px;background:#fff;}
.goods_rec_one .go_more button{width:100%;height:37px;border:1px solid #e5e5e5;background:none;color:#999;font-size:12px;line-height:35px;cursor:pointer;}
.goods_rec_one .go_more button > i{display:inline-block;width:6px;height:12px;background:url(../../../images/go_next.png) no-repeat 0 0;background-size:100% auto;vertical-align:-2px;}
.goods_rec_one .add_cart_btn .icon_cart{display:inline-block;margin-right:8px;width:24px;height:18px;background-image: url(images/xinpin1.png);background-size: 24px 18px;vertical-align:-3px;}

/** waterfall 瀑布流*/
.waterfall{margin:10px;}
.waterfall > span{display:block;}
.item_pic{display:block;width:100%;overflow:hidden;margin-bottom:10px;}
.waterfall .waterfall_box{clear:both;overflow:hidden;}
.waterfall .waterfall_box article:nth-child(2n){margin-left:10px}
.waterfall article{float:left;width:145px;overflow:hidden;margin-top:10px;padding:10px;border:1px solid #000;-webkit-box-sizing:border-box;border:1px solid #e5e5e5;background:#fff;position: relative;}
.waterfall article img{display:block;width:100%;height:auto;}
.waterfall article .item_pic{display:block;background-size:cover;}
.waterfall article .price{position:relative;margin-top:5px; }
.waterfall article .price ins{display:block;color:#ff3c3c;font-size:16px;}
.waterfall article .price ins:first-letter{font-size:12px;}
.waterfall article .price del{display:block;color:#999;}
.waterfall article .price .cartBtn.disable,.soldOut .cartBtn{background-position: 0 -29px;}
.waterfall article .price .cartBtn{position:absolute;bottom:0;right:0;}
.clothShop .waterfall .go_more{clear:both;margin:10px 0;}
.clothShop .waterfall .go_more button{width:100%;height:37px;border:1px solid #e5e5e5;background-color:#fff;color:#999;font-size:12px;line-height:35px;cursor:pointer;}
.clothShop .waterfall .go_more button > i{display:inline-block;width:6px;height:12px;background:url(../../../images/go_next.png) no-repeat 0 0;background-size:100% auto;vertical-align:-2px;}
.cartBtn{display: inline-block;width:29px;height:29px;background-size: 29px;background-color:#fe5955;background-image: url(images/xinpin1.png); }
.cartBtn.buy_grey{background-color:#9a9a9a;}

.waterfall .price .price_now{margin-right:2px;font-size:10px;}
.waterfall .price .price_now > em{font-size:12px;}
.waterfall .credit{color:#666;}
/* 团购价格样式 */
.waterfall article .price .has_buy{display:block;padding-top:3px;color:#999;font-size:12px;}
.waterfall article .price .grunt_old{display:inline;}
/** goods_rec_single 限时购*/
.clothShop .buy_tLimit      { margin:10px 10px 0 10px; background-color:#fff; border:1px solid #e5e5e5; border-top:3px solid #e5e5e5; }
.clothShop .buy_tLimit .header .title       { display:block; text-indent:8px; line-height:30px; height:30px; }
.clothShop .buy_tLimit .header .left_time   { display:block; line-height:30px; height:30px; text-align:right; margin-right:8px; color:#333; }
.clothShop .buy_tLimit .header em           { color:#ff3c3c; }   
.clothShop .buy_tLimit .item_box            { border-top:1px solid #e5e5e5; position:relative; }
.clothShop .buy_tLimit .box_left            { width:130px; }
.clothShop .buy_tLimit .box_left img        { margin:10px; width: 110px; height:110px; }
.clothShop .buy_tLimit .box_right span.item_title    { display:inline-block; margin:8px 10px 0 0; }
.clothShop .buy_tLimit .box_right aside span    { margin-left:5px; font-size:10px; color:#999; }
.clothShop .buy_tLimit .box_right aside span em { font-size:12px; }
.clothShop .buy_tLimit .box_right aside button  { margin-top:9px; width:92px; height:26px; line-height:26px; border:none; border-radius:2px; color:#fff; font-size:12px; }
.clothShop .buy_tLimit .opened aside button     { background:#fe5955; cursor:pointer; }
.clothShop .buy_tLimit .closed aside button     { background:#d6d6d6; }
.clothShop .buy_tLimit .comming aside button    { background:#666; cursor:pointer; }
.clothShop .buy_tLimit .comming aside button > i{ display:inline-block; margin-right:5px; vertical-align:-2px; width:11px; height:12px; background:url(../../../images/clock.png) no-repeat 0 0; background-size:100% auto; }
.clothShop .buy_tLimit > aside                  { margin:0 10px 10px 10px; border:1px solid #e5e5e5; }
.clothShop .buy_tLimit > aside > a              { display:block; width:100%; height:35px; line-height:35px; text-align:center; color:#999; }
.clothShop .buy_tLimit > aside > a > i          { display:inline-block; margin-left:5px; vertical-align:-1px; width:10px; height:10px; background:url(../../../images/arrow_d.png) no-repeat 0 0; background-size:100% auto; }
.clothShop .buy_tLimit .loading64               { margin:0 10px 10px 10px; text-align:center; display:none; }
.clothShop .buy_tLimit .loading64 img           { width:37px; height:37px; }

/** color_sec 色彩模块*/
.clothShop .todays_top                      { margin:10px; position:relative; }
.clothShop .todays_top img                  { width:100%; }
.clothShop .todays_top .acti_info           { position:absolute; top:5px; right:10px; width:92px; color:#fff; text-align:right; }
.clothShop .todays_top .acti_info span      { font-size:14px; line-height:26px; }
.clothShop .todays_top .acti_info p         { line-height:16px; max-height:32px; }

.clothShop .color_sec       { position:relative; margin:10px; background:url(../../../images/color_bg.png) no-repeat 0 0; background-size:100%; overflow:hidden; }
.clothShop .color_sec > img { width:100%; }
.clothShop .color_sec .acti_info            { position:absolute; top:5px; left:10px; width:102px; color:#fff; }
.clothShop .color_sec .acti_info span       { font-size:14px; line-height:26px; }
.clothShop .color_sec .acti_info p          { line-height:16px; max-height:32px; }

.clothShop .color_sec > a               { position:absolute; display:block; -webkit-transform:rotate(45deg); }
.clothShop .color_sec a > img           { width:100%; }
.clothShop .color_sec .color_e1         { top: 4.8%; left: 38.4%; width:46%; }
.clothShop .color_sec .color_e2         { top: 21.5%; left: -9.5%; width: 71%; }
.clothShop .color_sec .color_e3         { top: 41.5%; left: 55.8%; width: 47%; }
.clothShop .color_sec .color_e4         { top: 58%; left: 11.3%; width: 63%; }
.clothShop .color_sec .color_e5         { top: 78%; left: 59.3%; width: 63%; }
        
/*品牌店铺*/
.brandShop {padding:10px 0;}
.brandShop dl{position:relative; padding:0 0 0 10px; border-bottom:1px solid #E5E5E5;}
.brandShop dt{float:left; width:40%; padding:10px 0;}
.brandShop dd{margin-left:40%; text-align:right;}
.brandShop dd img{max-width:100%; min-width:185px; min-height:110px;}
.brandShop dt h3, .brandShop dt h4{height:18px; margin-bottom:6px; overflow:hidden;}
.brandShop dt h3{font-size:16px; color:#444;}
.brandShop dt h4{font-size:14px;}
.brandShop .price{position:absolute; bottom:10px; left:10px; color:#FF3C3C;}
.brandShop .moneyIco{padding-right:2px;}
.brandShop .price strong{padding-right:2px; font-size:20px;}
.brandVip{width:290px;overflow:hidden;margin:0 auto;}
.brandVip li{width:290px; margin-bottom:20px; padding-bottom:5px; border:1px solid #E2E2E2;}
.brandVip li img{display:block;}
.brandVip li h4{max-height:40px; margin-top:5px; padding:0 10px; line-height:20px; overflow:hidden;}

.actPlace{padding:0 5px 10px;background: #fff;}
.actPlace .in{width:300px; margin:auto; overflow:hidden;}
.actPlace h4{padding:10px 0 0;}
.actPlace ul{margin-right:-12px;}
.actPlace li{float:left;  margin:10px 12px 0 0; background-color:#F0F0F0; border-radius:4px;}
.actPlace li a{display:block; width:84px; height:31px; line-height:31px; padding:0 4px; text-align:center; overflow:hidden;}
.actPlace .cur{background-color:#FF827F;}
.actPlace .cur a{color:#fff;}


/* rel_material ----- */
.rel_material			{ position: relative; height:44px; line-height:44px; border-bottom:1px solid #e5e5e5; background-color:#eaeaea; }
.rel_material span		{ margin-left:10px; }
.rel_material button	{ position: absolute; top: 0; right: 0; margin:8px 10px 0 0; height:28px; width:100px; background-color:#fd5955; color:#fff; border:1px solid #d40500; border-radius:15px; cursor:pointer; box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset; }

/*n元n件*/

.proList .ins{display:none; position:absolute; top:0; left:0; height:100%; width:100%; text-align:center;}
.goodsList .ins{background-color:#fff;}
.proList .ins p{padding-top:20px;}
.proList .ins a{display:inline-block; width:110px; height:36px; line-height:36px; margin:10px auto 0; color:#fff; border-radius:4px; background-color:#5A5A5A;}
.proList .ins a:last-child{margin-left:15px; background-color:#FE5955;}
.proList dl{position:relative; padding:10px; border-bottom:1px solid #E5E5E5;}
.proList dt{
    width: 82px;
    margin: 0 8px 0 0;
}
.proList dd{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.proList dd h4{height:36px; overflow:hidden;}
.proList dt img{display:block; width:80px; height:80px; border:1px solid #F2F2F2;}
.proList .delRedBtn, .proList .cartBtn, .proList .addBtn{position:absolute; right:10px; bottom:12px;}
.proList .businessBtn{bottom:7px; right:5px;}
.proList .viewBtn{position:absolute; top:50%; right:20px; margin-top:-7px;}
.proList .price{margin-top:5px; color:#FE5955;}
.proList .price strong{margin-right:10px; font-size:16px;}
.proList .price del{color:#AAA;}
.proList .price em{margin-left:-5px;}
.proList dl .promTags{height:20px; margin-top:5px;}
.wrap.proList dl{ padding:10px;display: -webkit-box;display: -webkit-flex;display: flex; position: relative;}
.activeTit .proNum{right:0; padding:0 6px; font-size:14px;}

.promTags em, .promTags span{display:inline-block; height:20px; margin-right:5px; padding:0 4px; line-height:20px; text-align:center; color:#fff;}
.promTags .decre{background:#1CA2E1;}
.promTags .gift{background:#21BAA8;}
.promTags .cheap{background:#FF827F;}
.promTags .promo{background:#FF6E94;}
.promTags .discnt{background:#FF8534;}
.promTags .point{background:#FF76bd;}
.promTags .discount{background:#F27444;}

.layout{width:46%;margin:-10px 2% 5px 2% ;float: left;}
.layout2{width:96%;margin:50px 2% 0px 2% ;float: left;}

.layout3{width:96%;margin:0px 2% 5px 2% ;float: left;}

/*s 抵用券样式  cae001*/
.getCoupon_content li div.getCoupon_detail .v{position:relative;width:51px;height:51px;overflow:hidden;border-radius:3px;background-image:none;background-color:#f4696f;}
.getCoupon_content li div.getCoupon_detail .v span:before{display:block;position:absolute;top:30px;left:0;width:51px;height:5px;content:'';background-size:51px 5px;background-repeat:no-repeat;background-image: url(images/xinpin1.png);}










/*添加加载中css*/



/*ipad*/
@media all and (min-width: 600px) {
	.layout{
		width: 100%;
		margin: 0;
		-webkit-box-sizing:border-box;
	}

	.waterfall article{
		width: 49%;
	}

	.waterfall .waterfall_box article:nth-child(2n) {
		margin-left: 2%;
	}
	
	.slider_imgs{position:relative;width:100%;}

	.slider_imgs .inner .img{display:inline-block;width:100%;height:90px;background-size:cover;}

}


