<!DOCTYPE HTML>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title></title>
        
        <meta name="author" content="fayching" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
       

        <link rel="stylesheet" type="text/css" href="templates/w/frozenui/1.2.1/css/global.css">
        <link rel="stylesheet" type="text/css" href="templates/w/static/demo.css">
       
        <script src="templates/w/frozenjs/lib/zepto.min.js"></script>
        <script src="templates/w/frozenjs/1.0.1/frozen.js"></script>
        <script src="templates/w/frozenjs/feiyong.js"></script>
    </head>
    <body>
