{include file="w/head.html"}
    <body>
        {include file="w/title.html"}
        <div class="content">
<p></p>
<p><ul class="ui-list ui-list-link ui-border-tb">

    {foreach from=$action_4 item=action_4}
    {if $action_4.action_code=='kehu.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='kehu.html'">
        <div class="ui-list-img">
            <span style="background-image:url(templates/w/home/customer.png)" ></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">客户查询</h4>
            <p class="ui-nowrap">查询客户信息</p>
        </div>
    </li>
    {elseif $action_4.action_code=='loupan.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='loupan.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/myreport.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>楼盘查询</h4>
            <p class="ui-nowrap">查询楼盘信息</p>
        </div>
    </li>
    {elseif $action_4.action_code=='pinggu.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='pinggu.html'">
        <div class="ui-list-img">
            <span style="background-image:url(templates/w/home/share.png)" ></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">评估查询</h4>
            <p class="ui-nowrap">查询评估信息</p>
        </div>
    </li>
    {elseif $action_4.action_code=='jinrong.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='jinrong.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/piechart.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>金融产品</h4>
            <p class="ui-nowrap">查询金融产品信息</p>
        </div>
    </li>
    {elseif $action_4.action_code=='jinrongbanli.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='jinrongbanli.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/setting.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>金融项目查询</h4>
            <p class="ui-nowrap">查询金融项目办理信息</p>
        </div>
    </li>
    {elseif $action_4.action_code=='jslist.html' && $action_4.val==1}
     <li class="ui-border-t" onclick="location.href='jslist.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/dashboard.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>业务费用计算</h4>
            <p class="ui-nowrap">根据项目金额计算费用</p>
        </div>
    </li>
    {elseif $action_4.action_code=='daohang.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='daohang.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/workflow.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>业内网站导航</h4>
            <p class="ui-nowrap">行业内专用的一些公司的网站导航</p>
        </div>
    </li>
    {elseif $action_4.action_code=='gonggao.html' && $action_4.val==1}
    <li class="ui-border-t" onclick="location.href='gonggao.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/daily.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>公告中心</h4>
            <p class="ui-nowrap">系统公告信息中心</p>
        </div>
        
        <div class="ui-badge" style="display: none;">123</div>
    </li>
    {/if}
    {/foreach}
    
    
    
    
   
    
    
    
    
    
    
    
    
    
    
    <li class="ui-border-t" onclick="location.href='gerenzhongxin.html'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/notice.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>个人中心</h4>
            <p class="ui-nowrap">消息中心</p>
        </div>
        
        <div class="ui-badge" style="display: none;">123</div>
    </li>
    
    
    
    <!--
     <li class="ui-border-t" onclick="location.href='login.html?act=log_out'">
        <div class="ui-list-img">
           <span style="background-image:url(templates/w/home/notice.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>注销登录</h4>
            <p class="ui-nowrap">注销手机登录信息</p>
        </div>
        
        <div class="ui-badge" style="display: none;">123</div>
    </li>
    <!--onclick="location.href='login.html?act=log_out'" -->
   
</ul></p>

</div> 
    </body>
</html>