<!doctype HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>选择城市</title>
<link href="templates/citylist/css/css.css" rel="stylesheet" type="text/css" />
</head>
 
<body>
<header>
<div class="back" onClick="history.go(-1)" ></div>
<div class="title">{$region_name}</div>
<div class="controls"><a href="wxcitylist.php"><img src="templates/citylist/images/icon-toggle.png"></a> </div> 
</header>
<div class="block47"></div>
<div class="list">
{foreach from=$shop_list item=shop_list}	
<div class="mi">
        
		<p><b>店铺地址：</b>{$shop_list.shop_name}</p>
	<!--	<p><b>联系人：</b>{$shop_list.lxr}</p>
		<p><b>联系电话：</b>{$shop_list.tel}</p> -->
</div>
 {/foreach}
<div class="page"  style="border:1px solid #fff; line-height:30px;">
注:以上仅限于使用微信系统的网点！
</div>

 
</div>
</div>
 </body>
</html>
	

