<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<link href="css/menu.css?a=" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>

<script type="text/javascript" src="js/adddate.js"></script>
<script charset="utf-8" src="kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="kindeditor/lang/zh_CN.js"></script>
<script src="http://api.map.baidu.com/api?v=1.5&ak=ULZzR8MYgQwHvkOeFTk0Or0l"></script>
<script>
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#bz_html',{
					resizeType : 1,
					allowPreviewEmoticons : true,
					allowImageUpload : true,
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link']
				});
                editor = K.create('#bz_html',{
					resizeType : 1,
					allowPreviewEmoticons : true,
					allowImageUpload : true,
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link']
				});
                                
        });
</script>

</head>
<style type="text/css">
<!--

.demo {
	width:98%;
margin-top:5px;
  
}
.demo h2 {
	font-size:16px;
	height:44px;
	color:#3366cc;
	margin-top:0px;
}
.demo dl dt {
	font-size:14px;
	color:#ff6600;
	margin-top:0px;
	font-weight:800;
}
.demo dl dt, .demo dl dd {
	line-height:22px;
}
	.tabbtn {
	list-style-type:none;
	height:30px;
	background:url(images/tabbg.gif) repeat-x;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
.tabbtn li {
	float:left;
	position:relative;
	margin:0 0 0 -1px;
}
.tabbtn li a {
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	overflow:hidden;
	width:108px;
	text-align:center;
	font-size:12px;
	cursor:pointer;
}
.tabbtn li.current {
	border-left:solid 1px #d5d5d5;
	border-right:solid 1px #d5d5d5;
	border-top:solid 1px #c5c5c5;
}
.tabbtn li.current a {
	border-top:solid 2px #ff6600;
	height:27px;
	line-height:27px;
	background:#fff;
	color:#3366cc;
	font-weight:800;
}
/* tabcon */
.tabcon {
	border-width:0 1px 1px 1px;
	border-color:#ddd;
	border-style:solid;
	position:relative;/*必要元素*/
	

  
}
.tabcon .subbox {
	position:absolute;/*必要元素*/
	left:0;
	top:0;
}
.tabcon .sublist {
	padding:0px 0px;

}

  .table_img {   
          border: 1px solid #B1CDE3;   
            padding:0;    
           margin:0 auto;   
            border-collapse: collapse;   
       }   
         
    .table_img   td {   
            border: 1px solid #B1CDE3;   
           background: #fff;   
            font-size:12px;   
           padding: 3px 3px 3px 8px;   
          color: #4f6b72;   
        }   
-->
</style>
<body  style=" margin-top: 10px;margin-left: 5px;  padding-top: 0px;"> 


{if $fall==edit}
<div class="demo">	
<form name="myform" method="post" action="gonggao.html?g=c9508992087bd2587" enctype="multipart/form-data">
<div class="tabcon" id="leftcon"  >  
    <div  id="m1">
    <table class="table" width="100%" border="0"  style="margin-bottom: 15px;">
        <th colspan="10">编辑系统公告</th>
        <tr>
            <td style="width: 200px;">公告代码:</td><td><input disabled="true" style=""  type="text" value="{$gonggao_mx.gonggao_sn}" /><input name="gonggao_sn" id="gonggao_sn"   type="hidden" value="{$gonggao_mx.gonggao_sn}" /><a style="color:red;">*</a></td>
        </tr>
        <tr>
            <td style="width: 200px;">公告名称:</td><td><input  name="gonggao_name" style="" id="gonggao_name" type="text" value="{$gonggao_mx.gonggao_name}" /></td>
        </tr>
        <tr>
            <td>备注:</td><td><textarea  name="bz" style="width:100px;height:300px;" id="bz_html" >{$gonggao_mx.bz}</textarea></td>
        </tr>
        <tr>
            <td>类型:</td><td>
            <input type="radio" name="leixing" class="leixing" value="1"  title="系统公告" checked />系统公告
                 <input type="radio" name="leixing" class="leixing" value="2"  title="日常公告"  />日常公告
                 
        <input type="hidden" id="leixing_v" value="{$gonggao_mx.leixing}" /></td>
        
       
        </tr>
        
        <tr><td>附件</td><td>
        
         {foreach from=$imgtext_imgs item=imgtext_imgs}
      <table width="100%"  class="table_img" >
    <tr>

    
    <td><table class="table_img" style="width: 400px;height: 100px; text-align: left; padding: 0px;margin: 0px;"><tr style="height: 40px;"><td>附件代码:&nbsp;&nbsp;&nbsp;{$imgtext_imgs.img_outer_id}&nbsp;&nbsp;&nbsp;&nbsp;添加时间:&nbsp;&nbsp;&nbsp;{$imgtext_imgs.add_time}</td></tr>
<tr style="height: 40px;">
<td>操作:&nbsp;&nbsp;&nbsp;<img id="delete_z_sn"   name="{$imgtext.imgtext_sn}" title="{$imgtext_imgs.img_outer_id}" src="images/icon_drop.gif"/>&nbsp;&nbsp;&nbsp;
是否显示&nbsp;&nbsp;&nbsp;{if $imgtext_imgs.ss==1}<img id="img_jy"   name="{$imgtext.imgtext_sn}" title="{$imgtext_imgs.img_outer_id}" alt="0" src="images/yes.gif"/>{else}
<img id="img_xs"  alt="1"  name="{$imgtext.imgtext_sn}" title="{$imgtext_imgs.img_outer_id}" src="images/no.gif"/>{/if}</td>
</tr>
    <tr><td><a href="{$imgtext_imgs.b_img_url}">{$imgtext_imgs.b_img_url}</a></td></tr>
    </table><input  type="hidden" name="img_code[]" value="{$imgtext_imgs.img_outer_id}"/></td>
    
    </tr>
    </table>
 

    {/foreach }
        </td></tr>
        <tr>
         <td colspan="2">上传附件:&nbsp;<img  id="add_images" src="images/icon_add.gif" title="增加文件"/></td >
        </tr>
        <tr>
        <td   colspan="2" id="m2">&nbsp;文件1:<input  type="file" name="pic1"/>  <br />
         <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
        
         </td>
        </tr>
        
    






<tr><td colspan="2"  style="text-align: center;"><input  type="submit"  id="btn_queren2" value="确认" />&nbsp;<input  type="button" onclick="location='gonggao.html'" value="返回" /></td></tr>

</table>



</div>


</div>



</form>



</div><!--tabbox end-->







{/if}

{if $fall==post}

<table class="table" width="100%" border="0" style="margin-top:10px;">
 <tr><td colspan="1"><b>编辑系统公告</b></td></tr>

 <tr><td>修改成功<a href="gonggao.html">返回</a>&nbsp;<a style="color:red;">1秒后返回</a></td></tr>

</table>

<script type="text/javascript">
<!--
	$(document).ready(function ()
{       
    var timer = setTimeout(function(){
      window.location="gonggao.html";
    }, 500);
   
})
-->
</script>
{/if}
{if $fall==post2}

<table class="table" width="100%" border="0" style="margin-top:10px;">
 <tr><td colspan="1"><b>添加系统公告</b></td></tr>

 <tr><td>添加成功<a href="gonggao.html">返回</a>&nbsp;<a style="color:red;">1秒后返回</a></td></tr>

</table>

<script type="text/javascript">
<!--
	$(document).ready(function ()
{       
    var timer = setTimeout(function(){
      window.location="gonggao.html";
    }, 500);
   
})
-->
</script>
{/if}

{if $fall==fs}

<table class="table" width="100%" border="0" style="margin-top:10px;">
 <tr><td colspan="1"><b>添加失败</b></td></tr>

 <tr><td>代码已存在<a href="gonggao.html">返回</a>&nbsp;<a style="color:red;">1秒后返回</a></td></tr>

</table>

<script type="text/javascript">
<!--
	$(document).ready(function ()
{       
    var timer = setTimeout(function(){
      window.location="gonggao.html";
    }, 1000);
   
})
-->
</script>
{/if}

{if $fall==add_list}
<div class="demo">	
<form name="myform" method="post" action="gonggao.html?g=a29752a71696ccf16" enctype="multipart/form-data">   
   <div class="tabcon" id="leftcon"  >
    <div  id="m1"><table class="table" width="100%" border="0" >
 <th colspan="2">添加系统公告</th>
        <tr>
            <td style="width: 200px;">公告代码:</td><td><input  style=""  type="text"  value="系统自动生成"  disabled="disabled" /><input  style=""  type="hidden" name="gonggao_sn" id="gonggao_sn"  value="系统自动生成"  /><a style="color:red;">*</a></td>
        </tr>
        <tr>
            <td style="width: 200px;">公告名称:</td><td><input  name="gonggao_name" style="" id="gonggao_name" type="text"  /></td>
        </tr>
        <tr>
            <td>备注:</td><td><textarea  name="bz" style="width:100px;height:300px;" id="bz_html" >{$gonggao_mx.bz}</textarea></td>
        </tr>
        <tr>
            <td>类型:</td><td>
            <input type="radio" name="leixing" class="leixing" value="1"  title="系统公告" checked />系统公告
                 <input type="radio" name="leixing" class="leixing" value="2"  title="日常公告"  />日常公告
                 
        <input type="hidden" id="leixing_v" value="{$gonggao_mx.leixing}" /></td>
        </tr>

 
<tr><td colspan="2"  style="text-align: center;"><input  type="submit"  id="btn_queren2" value="确认" />&nbsp;<input  type="button" onclick="location='gonggao.html'" value="返回" /></td></tr>
  
</table>
    
    
    
    </div>

    
    
    
	</form>


	
</div><!--tabbox end-->





{/if}	
<input  type="hidden" value="gonggao_sn" id="bianjisetf1"/>

</body>  
</html>

<script type="text/javascript">
       
      
    
    var i=2;
   $("#add_images").click(function (){
        
        
        $("#m2").append('&nbsp;文件'+i+':<input type="file" name="pic'+i+'"/>  &nbsp;<br />');
        i++;

        //alert(1);
   })

      $("img[id='img_mx']").each(function (){
            
           $(this).dblclick(function (){
           //alert($(this).attr("name"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
          $("img[id='delete_z_sn']").each(function (){
            
           $(this).click(function (){
        
           if(confirm("是否删除"+$(this).attr("title"))){
             
              htmlobj=$.ajax({url:"gonggao.php?g=delete&img_code="+encodeURI(encodeURI($(this).attr("title"))),async:false});
              //alert(htmlobj.responseText);
             window.location.reload();
            }else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
        
            $("img[id='img_jy']").each(function (){
            
           $(this).click(function (){
        
           if(confirm("禁用"+$(this).attr("title")+"？")){
             
              htmlobj=$.ajax({url:"gonggao.php?g=img_xs&img_code="+encodeURI(encodeURI($(this).attr("title")))+"&alt="+$(this).attr("alt"),async:false});
             // alert(htmlobj.responseText);
             window.location.reload();
            }else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
         $("img[id='img_xs']").each(function (){
            
           $(this).click(function (){
        
           if(confirm("显示"+$(this).attr("title")+"？")){
             
              htmlobj=$.ajax({url:"gonggao.php?g=img_xs&img_code="+encodeURI(encodeURI($(this).attr("title")))+"&alt="+$(this).attr("alt"),async:false});
              //alert(htmlobj.responseText);
             window.location.reload();
            }else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
       
       
       
       var  gonggao_sn=$("#gonggao_sn").val();
        $("#gonggao_sn").focus();
        $("#btn_queren2").click(function(){
        if(jQuery.trim($("#gonggao_sn").attr("value"))==''){
        $("#gonggao_sn").focus();return false;}
        else{if(confirm("确认修改")){}else{return false;}}})
             var leixing_v=$('#leixing_v').val();   
             $('input:radio[name="leixing"][value="'+leixing_v+'"]').prop('checked', true);        
</script>