<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司档案</title>
<link href="css/menu.css" rel="stylesheet" type="text/css" />
<link href="css/module.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jq.mshop.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>

<script type="text/javascript" src="js/adddate.js"></script>

</head>

<body>

<div class="container">
  <div class="content">
    <div class="botable">

{if $fall==1}  
<table class="table" width="100%" border="0" style="margin-bottom: 7px;">
    <form>
        <tr>
            <th style="text-align: left;border-right-style:none">
        <input id="a_text" value="添加公司档案" type="button"  onclick="location='gongsi.html?g=d0530d1a817053cce'" />&nbsp; </th><th style="text-align: right; border-left-style:none">
                 <input  type="text"  id="key" name="key"  placeholder="本页搜索" />&nbsp;<input  type="text"  placeholder="关键字"  id="m_key" name="m_key"/>&nbsp;<input  value="搜索" type="submit" />&nbsp;<input  value="excel导出" type="button" id="excel" /><input  value="导入" type="button" id="import_excel" />&nbsp;&nbsp;&nbsp;<input  type="button" value="刷新"   onclick="location='gongsi.html'" />&nbsp;</th>
        </tr>
    </form>
</table>


<table class="table" width="100%" border="0">
    <tr>
        <th>公司代码</th>
        <th>公司名称</th>
        <th>公司联系人</th>
        <th>联系人电话</th>
        <th>备注</th>
        <th style="width:110px">操作</th>
    </tr>
    
<tbody  id="table_t">
{foreach from=$gongsi_list item=gongsi_list}
    <tr>
            <td >{$gongsi_list.gongsi_sn}</td>
            <td >{$gongsi_list.gongsi_name}</td>
            <td >{$gongsi_list.lianxiren}</td>
            <td >{$gongsi_list.tel}</td>
            <td >{$gongsi_list.bz}</td>
            
        <td > 
        {if $gongsi_list.tzsy==1}
        <img  title="启用" name="{$gongsi_list.gongsi_sn}" id="tzsy_qy"  src="images/no.gif" />&nbsp;
        <img  title="修改" name="{$gongsi_list.gongsi_sn}" id="edit"  src="images/icon_edit.gif" />&nbsp;
        <img id="delete_code" name="{$gongsi_list.gongsi_sn}" title="删除" src="images/icon_drop.gif"/>
        
        {else if }
        <img  title="禁用" name="{$gongsi_list.gongsi_sn}" id="tzsy_jy"  src="images/yes.gif" />&nbsp;
        <img  title="修改" name="{$gongsi_list.gongsi_sn}" id="edit"  src="images/icon_edit.gif" />&nbsp;
        <img id="delete_code" name="{$gongsi_list.gongsi_sn}" title="删除" src="images/icon_drop.gif"/>
        
        
        {/if}
        </td>
    
    </tr>
{foreachelse}
    <tr>
        <td style="width:70px" colspan="20">无记录</td>
    </tr>
{/foreach}

</tbody>
</table>


<table class="table" width="100%" border="0">
    <tr>
        <td style="text-align: right;">{include file="foot.tpl"}</td>
    </tr> 
</table>


{/if}
<script type="text/javascript">
$("#m_key").val("{$m_key}");
        $("#m_key").focus();
         
        $("#excel").click(function (){
	
            window.open("excel.php?m=gongsi"); 
        })

</script>
    </div>
   <!-- end .content --></div>
<!-- end .container --></div>

<input  type="hidden" value="0" id="lbxs_open"/>
<input  type="hidden" value="29558bfcfd4a0babf" id="g_e"/>
<input  type="hidden" value="9479288119a7ae722" id="g_d"/>
<input  type="hidden" value="ef6a9a077ab7414c1" id="g_xs"/>
<input  type="hidden" value="gongsi_sn" id="bianjisetf1"/>




<div class="alert" style="display:none;">

</div>

<div id="leavemsg" style="display:none;">
<input type="hidden" id="leaveid"/><input type="hidden" id="leavename"/>

<form method="post" action="excel.php?m=dr_gongsi" enctype= "multipart/form-data" >
<table class="table" width="100%" border="0" style="margin-bottom: 7px;">
<tr><th colspan="2" style="text-align: center;" >excel导入</th></tr>

<tr>
<td>选择excel文件:<br />
<input  type="hidden" value="true" name="leadExcel"/>
<input  type="file" name="inputExcel" /></td></tr>

<tr ><td style="text-align: right;" colspan="2"><a href="phpexcel/tempfile/gongsi.xls">格式下载</a>&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>

<tr ><td style="text-align: right;" colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;<input  type="submit"  value="导入"/>&nbsp;&nbsp;&nbsp;<input  type="button" value="取消" id="msgquxiao" /></td></tr>


<tr><th colspan="2" style="text-align: center;color:red;"  id="errmes"></th></tr>
</table>
</form>
</div>


</div>

</body>
</html>
<script type="text/javascript">
<!--
$(document).ready(function ()
{      
        $("#import_excel").click(function(){
            $(".alert").fadeIn();
            $("#leavemsg").fadeIn();
        })
        $("#msgquxiao").click(function(){
             $(".alert").fadeOut();
             $("#leavemsg").fadeOut();
        })

        
        
        $("img[id='edit']").each(function (){
           var  lbxs_open=$("#lbxs_open").val();
           var  g_e=$("#g_e").val();
           var  bianjisetf1=$("#bianjisetf1").val();
           
           $(this).click(function (){
            if(lbxs_open==0)
            {
                window.location='gongsi.html?g='+g_e+'&'+bianjisetf1+'='+encodeURI(encodeURI($(this).attr("name")));
            }else
            {
                window.open('gongsi.html?g='+g_e+'&'+bianjisetf1+'='+encodeURI(encodeURI($(this).attr("name"))));
            }         
           
        })
        })
        
        var  bianjisetf1=$("#bianjisetf1").val();
         $("img[id='delete_code']").each(function (){
            var  g_d=$("#g_d").val();
            
            $(this).click(function (){
        
            
              if(confirm("删除"+$(this).attr("name")+"")){
               htmlobj=$.ajax({url:"gongsi.html?g="+g_d+"&"+bianjisetf1+"="+encodeURI(encodeURI($(this).attr("name"))),async:false});
              //alert(htmlobj.responseText);
              if(htmlobj.responseText==1)
              {
                window.location.reload();
              }
              else
              {
                alert('删除失败,存在关联数据');
              }
              
              
            }else return false;
            
            })
        })
        
      
        
        var  g_xs=$("#g_xs").val();
        $("img[id='tzsy_jy']").each(function (){
            
           $(this).click(function (){
        
           //if(confirm("禁用"+$(this).attr("name")+"")){
             
              htmlobj=$.ajax({url:"gongsi.html?g="+g_xs+"&"+bianjisetf1+"="+encodeURI(encodeURI($(this).attr("name")))+"&alt=1",async:false});
              //alert(htmlobj.responseText);
              window.location.reload();
            //}else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
        $("img[id='tzsy_qy']").each(function (){
            
           $(this).click(function (){
        
           //if(confirm("启用"+$(this).attr("name")+"")){
             
              htmlobj=$.ajax({url:"gongsi.html?g="+g_xs+"&"+bianjisetf1+"="+encodeURI(encodeURI($(this).attr("name")))+"&alt=0",async:false});
              //alert(htmlobj.responseText);
              window.location.reload();
            //}else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
         
         
         $("img[id='fuzhi']").each(function (){
                
                $(this).click(function(){
                    
                      window.clipboardData.setData("Text",$(this).attr("name"));
                     
                })
               
         })
        
        
          $("img[id='yulan']").each(function (){
                
                $(this).click(function(){
                   window.open($(this).attr("name"))
                })
               
         })
        
        
        

    
})
-->
</script>