<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金融产品</title>
<link href="css/menu.css" rel="stylesheet" type="text/css" />
<link href="css/module.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jq.mshop.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>

<script type="text/javascript" src="js/adddate.js"></script>

</head>

<body>

<div class="container">
  <div class="content">
    <div class="botable">

{if $fall==1}  
<table class="table" width="100%" border="0" style="margin-bottom: 7px;">
    <form>
        <tr>
            <th style="text-align: left;border-right-style:none">
        <input id="a_text" value="添加金融产品" type="button"  onclick="location='jinrong.html?g=b90a42524d2fcc96d'" />&nbsp; </th><th style="text-align: right; border-left-style:none">
            金融类型:&nbsp<select name='leixing' id='leixing' ><option  value=''>全部</option><option  value='1'>保险类</option><option  value='2'>证券类</option><option  value='3'>银行类</option><option  value='4'>期货类</option><option  value='5'>信托类</option><option  value='6'>其他类</option></select>&nbsp&nbsp&nbsp     <input  type="text"  id="key" name="key"  placeholder="本页搜索" />&nbsp;<input  type="text"  placeholder="关键字"  id="m_key" name="m_key"/>&nbsp;<input  value="搜索" type="submit" />&nbsp;<input  value="excel导出" type="button" id="excel" />&nbsp;&nbsp;&nbsp;<input  type="button" value="刷新"   onclick="location='jinrong.html'" />&nbsp;</th>
        </tr>
    </form>
</table>


<table class="table" width="100%" border="0">
    <tr>
        <th>金融代码</th>
        <th>产品名称</th>
        <th>金融类型</th>
        <th>银行id</th>
        <th>公司id</th>
        <th style="width:110px">操作</th>
    </tr>
    
<tbody  id="table_t">
{foreach from=$jinrong_list item=jinrong_list}
    <tr>
            <td >{$jinrong_list.jinrong_sn}</td>
            <td >{$jinrong_list.jinrong_name}</td>
            <td >{if $jinrong_list.leixing==""}{elseif $jinrong_list.leixing==""}<a  style="color:">全部</a>{elseif $jinrong_list.leixing=="1"}<a  style="color:">保险类</a>{elseif $jinrong_list.leixing=="2"}<a  style="color:">证券类</a>{elseif $jinrong_list.leixing=="3"}<a  style="color:">银行类</a>{elseif $jinrong_list.leixing=="4"}<a  style="color:">期货类</a>{elseif $jinrong_list.leixing=="5"}<a  style="color:">信托类</a>{elseif $jinrong_list.leixing=="6"}<a  style="color:">其他类</a>{/if}</td>
            <td >{$jinrong_list.yinhang_id_bm}</td>
            <td >{$jinrong_list.gongsi_id_bm}</td>
            
        <td > 
        {if $jinrong_list.tzsy==1}
        <img  title="启用" name="{$jinrong_list.jinrong_sn}" id="tzsy_qy"  src="images/no.gif" />&nbsp;
        <img  title="修改" name="{$jinrong_list.jinrong_sn}" id="edit"  src="images/icon_edit.gif" />&nbsp;
        <img id="delete_code" name="{$jinrong_list.jinrong_sn}" title="删除" src="images/icon_drop.gif"/>
        
        {else if }
        <img  title="禁用" name="{$jinrong_list.jinrong_sn}" id="tzsy_jy"  src="images/yes.gif" />&nbsp;
        <img  title="修改" name="{$jinrong_list.jinrong_sn}" id="edit"  src="images/icon_edit.gif" />&nbsp;
        <img id="delete_code" name="{$jinrong_list.jinrong_sn}" title="删除" src="images/icon_drop.gif"/>
        
        
        {/if}
        </td>
    
    </tr>
{foreachelse}
    <tr>
        <td style="width:70px" colspan="20">无记录</td>
    </tr>
{/foreach}

</tbody>
</table>


<table class="table" width="100%" border="0">
    <tr>
        <td style="text-align: right;">{include file="foot.tpl"}</td>
    </tr> 
</table>


{/if}
<script type="text/javascript">

        $("#leixing").val("{$leixing}");
        $("#m_key").val("{$m_key}");
        $("#m_key").focus();
         
        $("#excel").click(function (){
            var leixing =$("#leixing").val();
	
            window.open("excel.php?m=jinrong&leixing="+leixing+""); 
        })

</script>
    </div>
   <!-- end .content --></div>
<!-- end .container --></div>

<input  type="hidden" value="0" id="lbxs_open"/>
<input  type="hidden" value="0b0ab71746be59a20" id="g_e"/>
<input  type="hidden" value="5fc7fae7843cd6f3f" id="g_d"/>
<input  type="hidden" value="545a2b5f8472d36c4" id="g_xs"/>
<input  type="hidden" value="jinrong_sn" id="bianjisetf1"/>





</div>

</body>
</html>
<script type="text/javascript">
<!--
$(document).ready(function ()
{      
        $("#import_excel").click(function(){
            $(".alert").fadeIn();
            $("#leavemsg").fadeIn();
        })
        $("#msgquxiao").click(function(){
             $(".alert").fadeOut();
             $("#leavemsg").fadeOut();
        })

        
        
        $("img[id='edit']").each(function (){
           var  lbxs_open=$("#lbxs_open").val();
           var  g_e=$("#g_e").val();
           var  bianjisetf1=$("#bianjisetf1").val();
           
           $(this).click(function (){
            if(lbxs_open==0)
            {
                window.location='jinrong.html?g='+g_e+'&'+bianjisetf1+'='+encodeURI(encodeURI($(this).attr("name")));
            }else
            {
                window.open('jinrong.html?g='+g_e+'&'+bianjisetf1+'='+encodeURI(encodeURI($(this).attr("name"))));
            }         
           
        })
        })
        
        var  bianjisetf1=$("#bianjisetf1").val();
         $("img[id='delete_code']").each(function (){
            var  g_d=$("#g_d").val();
            
            $(this).click(function (){
        
            
              if(confirm("删除"+$(this).attr("name")+"")){
               htmlobj=$.ajax({url:"jinrong.html?g="+g_d+"&"+bianjisetf1+"="+encodeURI(encodeURI($(this).attr("name"))),async:false});
              //alert(htmlobj.responseText);
              if(htmlobj.responseText==1)
              {
                window.location.reload();
              }
              else
              {
                alert('删除失败,存在关联数据');
              }
              
              
            }else return false;
            
            })
        })
        
      
        
        var  g_xs=$("#g_xs").val();
        $("img[id='tzsy_jy']").each(function (){
            
           $(this).click(function (){
        
           //if(confirm("禁用"+$(this).attr("name")+"")){
             
              htmlobj=$.ajax({url:"jinrong.html?g="+g_xs+"&"+bianjisetf1+"="+encodeURI(encodeURI($(this).attr("name")))+"&alt=1",async:false});
              //alert(htmlobj.responseText);
              window.location.reload();
            //}else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
        $("img[id='tzsy_qy']").each(function (){
            
           $(this).click(function (){
        
           //if(confirm("启用"+$(this).attr("name")+"")){
             
              htmlobj=$.ajax({url:"jinrong.html?g="+g_xs+"&"+bianjisetf1+"="+encodeURI(encodeURI($(this).attr("name")))+"&alt=0",async:false});
              //alert(htmlobj.responseText);
              window.location.reload();
            //}else return false;
            
          //alert($(this).attr("title"));
           //$("#hide_img").colorToggle(200);
           
           
        })
        })
         
         
         $("img[id='fuzhi']").each(function (){
                
                $(this).click(function(){
                    
                      window.clipboardData.setData("Text",$(this).attr("name"));
                     
                })
               
         })
        
        
          $("img[id='yulan']").each(function (){
                
                $(this).click(function(){
                   window.open($(this).attr("name"))
                })
               
         })
        
        
        

    
})
-->
</script>