.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	background-color:#f4f4f4;
	position:relative;
}

.list_font li:nth-child(3n+1){background:#ce4934;}
.list_font li:nth-child(3n+2){background:#6666b4;}
.list_font li:nth-child(3n){background:#80a12f;}
