/*===公用样式---start---*/
/**/
.tel { height: 60px; background: rgba(54,54,54,0.9); text-align: center; border-radius: 5px; margin-bottom: 10px; }
.tel h3 { background: url(../img/mini/Ico_tel.png) no-repeat left center; display: inline-block; padding-left: 50px; font-family: Verdana, Geneva, sans-serif; margin: 0 auto; line-height: 60px; color: #fff; font-weight: normal; }
.footer { width: 100%; margin: 0 auto; height: 50px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e1e1e1)); background: -moz-linear-gradient(top, #f6f6f6, #e1e1e1); box-shadow: 0px -1px 2px #999; position: fixed; bottom: 0; left: 0; z-index:1000; }
.footer_list { max-width: 640px; margin: 0 auto; }
.footer_list li { width: 24%; height: 50px; line-height: 50px; text-align: center; float: left; position: relative;}
.footer_list li a { display: block; text-shadow: 1px 1px 1px #fff; }
.footer_list li:first-of-type { border-left: none; }
.footer_list li:last-of-type { border-right: none;}
.plan_list { }
.plan_list li { width: auto; float: none; min-height: 60px; padding: 10px 30px 10px 10px; position: relative; margin-bottom:5px; }
.plan_list li:nth-of-type(even) { background: #f4f4f4 url(../img/mini/dot_right.png) no-repeat 98% center; background-size: 12px; }
.plan_list li:nth-of-type(odd) { background: #eaeaea url(../img/mini/dot_right.png) no-repeat 98% center; background-size: 12px; }
.plan_list li .Ico_box { background: none; }
.plan_img, .plan_right { display: table-cell; }
.plan_right { width: auto; padding-left: 15px; }
.plan_img { width: 60px; height: 60px; vertical-align: top; }
.plan_img img { width: 100%; height: 100% !important; }
.plan_list li a strong { min-height: 45px; text-align: left; padding: 0; display: inline-block; }
.plan_list li a small, .news_info_title small, .guestbook_box h3 small, .news_info_title .comment_box .like, .news_info_title .comment_box .conmment { font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #aaa; display: block; }
.comment_box .like{ float:right;}
/*点击更多浮动层样式*/
.sub_menu { width: 110px; padding: 5px 0; border-radius: 5px; box-shadow: 0px 1px 5px #999; position: absolute; display: block; background: #fff; bottom: 65px; left: 50%; margin-left: -55px; }
.sub_menu li { float: none; width: 90px; padding: 0 10px; height: auto; line-height: 38px; border: none; border-bottom: 1px solid #ddd; }
.sub_menu li:last-of-type { border-bottom: none; position: relative; }
.sub_bg { position: absolute; left: 50%; margin-left: -8px; bottom: -15px; width: 16px; height: 11px; background: url(../img/mini/sub_bg.png) no-repeat; }
/*按钮表单样式*/
.input { height: 40px; width: 98%; margin: 0 auto; padding: 0 1%; line-height: 40px; font-size: 14px; }
.btn_red { height:40px; background-image: linear-gradient(bottom, #bf2f2f 0%, #da3b3b 100%); background-image: -o-linear-gradient(bottom, #bf2f2f 0%, #da3b3b 100%); background-image: -moz-linear-gradient(bottom, #bf2f2f 0%, #da3b3b 100%); background-image: -webkit-linear-gradient(bottom, #bf2f2f 0%, #da3b3b 100%); background-image: -ms-linear-gradient(bottom, #bf2f2f 0%, #da3b3b 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #bf2f2f), color-stop(1, #da3b3b));text-align: center;color: #fff;cursor: pointer;width: 100%; }
.btn_green { height:40px; background-image: linear-gradient(bottom, #3da444 0%, #54bf5c 100%); background-image: -o-linear-gradient(bottom, #3da444 0%, #54bf5c 100%); background-image: -moz-linear-gradient(bottom, #3da444 0%, #54bf5c 100%); background-image: -webkit-linear-gradient(bottom, #3da444 0%, #54bf5c 100%); background-image: -ms-linear-gradient(bottom, #3da444 0%, #54bf5c 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #3da444), color-stop(1, #54bf5c)); text-align: center; color: #fff; cursor: pointer; width: 100%; }
.input { border: 1px solid #dbdbdb; background: #fff; color: #b4b4b4; margin-bottom: 10px; }
.banner_img { margin-bottom: 15px; }
.main_box { border: 1px #c6c6c6 solid; background: #fff; font-size: 14px; border-radius: 5px; box-shadow: 0 1px 1px #F6F6F6; margin-bottom: 10px; display: block; }
ul.main_box li, ul.main_box li .member_tr, ul.main_box li a { line-height: 22px; }
ul.main_box li { border-bottom: 1px #c6c6c6 solid; padding: 0 10px; }
ul.main_box li:last-of-type { border: none }
.send_btn { margin-bottom: 10px; }
.send_btn input { width: 100%; }
.send_btn .submit { display: block; font-size: 16px; border: 1px #c6c6c6 solid; padding: 10px 20px; border-radius: 5px; text-align: center; background-image: linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -ms-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #fefefe) ); }
.send_btn .submit:active { display: block; padding: 10px 20px; border: 1px #c6c6c6 solid; border-radius: 5px; text-align: center; margin: 0 auto 10px; background-image: linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -o-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -moz-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -webkit-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -ms-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #fefefe), color-stop(1, #e6e6e6) ); }
.send_btn input.submit { width: 100%; display: block; font-size: 16px; border: 1px #c6c6c6 solid; padding: 10px 20px; border-radius: 5px; text-align: center; margin: 0 auto 10px; background-image: linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -ms-linear-gradient(bottom, #e6e6e6 0%, #fefefe 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #fefefe) ); }
.send_btn input.submit:active { display: block; padding: 10px 20px; border: 1px #c6c6c6 solid; border-radius: 5px; text-align: center; margin: 0 auto 10px; background-image: linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -o-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -moz-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -webkit-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -ms-linear-gradient(bottom, #fefefe 0%, #e6e6e6 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #fefefe), color-stop(1, #e6e6e6) ); }
.send_btn .green_sub { background-color: #179F00; padding: 10px 20px; font-size: 16px; text-decoration: none; border: 1px solid #0B8E00; background-image: linear-gradient(bottom, #179F00 0%, #5DD300 100%); background-image: -o-linear-gradient(bottom, #179F00 0%, #5DD300 100%); background-image: -moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%); background-image: -webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%); background-image: -ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #179F00), color-stop(1, #5DD300) ); -webkit-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: white; display: block; text-align: center; text-shadow: 0 1px rgba(0, 0, 0, 0.2); }
.send_btn .green_sub:active { background-color: #179F00; padding: 10px 20px; font-size: 16px; text-decoration: none; border: 1px solid #0B8E00; background-image: linear-gradient(bottom, #5DD300 0%, #179F00 100%); background-image: -o-linear-gradient(bottom, #5DD300 0%, #179F00 100%); background-image: -moz-linear-gradient(bottom, #5DD300 0%, #179F00 100%); background-image: -webkit-linear-gradient(bottom, #5DD300 0%, #179F00 100%); background-image: -ms-linear-gradient(bottom, #5DD300 0%, #179F00 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #5DD300), color-stop(1, #179F00) ); -webkit-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5); }

.send_btn .orange_sub { background-color: #d67900; padding: 10px 20px; font-size: 16px; text-decoration: none; border: 1px solid #d67900; background-image: linear-gradient(bottom, #e78200 0%, #ff9000 100%); background-image: -o-linear-gradient(bottom, #e78200 0%, #ff9000 100%); background-image: -moz-linear-gradient(bottom, #e78200 0%, #ff9000 100%); background-image: -webkit-linear-gradient(bottom, #e78200 0%, #ff9000 100%); background-image: -ms-linear-gradient(bottom, #e78200 0%, #ff9000 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #e78200), color-stop(1, #ff9000) ); -webkit-box-shadow: 0 1px 0 #d67900 inset, 0 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 0 #d67900 inset, 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 #ff9000 inset, 0 1px 2px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: white; display: block; text-align: center; text-shadow: 0 1px rgba(0, 0, 0, 0.2); }

.list_box { height: auto; overflow: hidden; border: 1px solid #c6c6c6; background: #fff; font-size: 14px; line-height: 24px; border-radius: 5px; box-shadow: 0 1px 1px #F6F6F6; padding: 10px; margin-bottom: 10px; position: relative; }
.date_style { color: #797979; font-size: 12px; line-height: 18px; }
/*弹窗栏目*/
.popup_box { position: fixed; top: 0; left: 0; z-index: 100; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5) }
.popup_window { width: 290px; position: absolute; left: 50%; top: 50%; margin: -130px 0 0 -145px; z-index: 9999; background: #FFF; border-radius: 5px; padding: 2px; }
.popup_window .title { background: #494949; line-height: 26px; padding: 5px 5px 5px 10px; color: #FFF; font-size: 16px; border-radius: 5px 5px 0 0; position: relative; }
.popup_window .title .close { position: absolute; z-index: 100; right: 5px; top: 5px; width: 26px; height: 26px; background: url(../img/mini/close.png) no-repeat; }
.popup_window .main_info { padding: 10px 10px 0; color: #222; text-shadow: 0 1px 0 #fff; font-size: 16px; line-height: 22px; }
.popup_window .main_info .txt { margin: 0 0 10px; }
.popup_window .main_info .txt b { color: #ca0300; }
.popup_window .main_info p { margin: 0 0 10px; padding: 0; }
.popup_window .main_info .name_input, .popup_window .main_info .txt_input { background: #FFF; border-radius: 5px; color: #333; width: 100%; border: 1px #c6c6c6 solid; padding: 10px 0; text-indent: 10px; font-size: 16px; }
/*弹窗分享*/
.guide { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 20000; }
.guide img { position: fixed; right: 18px; top: 5px; width: 260px!important; height: 180px!important; z-index: 20001; }
/*===公用样式---end---*/


/*===图文/留言---start---*/

/*评论留言*/
.guestbook, .btn_green,.btn_red, .guestbook_box h3 a { border-radius: 5px; }/*5px圆角*/
.guestbook, .input, .guestbook_box .sub_menu { border: 1px solid #dbdbdb; }/*灰色边框*/
.guestbook_box{ margin-top:20px;}
.guestbook_box li{ border-bottom:1px #bababa dotted; padding-bottom:20px; margin-bottom:20px;}
.guestbook_box li:last-of-type{ border-bottom:none; padding-bottom:0;}
.guestbook { background: #eaeaea; padding: 15px; display: block; }
.guestbook .conmment_text { width: 98%; min-height: 50px; color: #b4b4b4; margin-bottom: 10px; background: #fff; padding: 5px 1%; line-height: 20px; border: 1px solid #dbdbdb; }
/*留言列表样式*/
.guestbook_box .comment_menu li:last-of-type { border: none; padding: 5px 0; position: relative; }
.guestbook_box .comment_menu_bg { background: url(../img/mini/guestbook_bg.png) no-repeat; position: absolute; left: 10px; bottom: -15px; width: 16px; height: 11px; }
.comment_menu {padding: 5px 0; border-radius: 5px; display: block; background: #fff; border: 1px solid #DBDBDB; position: static; }
.comment_menu li { width: auto; margin: 0 10px; height: auto; line-height: 38px; border-bottom: 1px #DBDBDB dashed; }
.guestbook_box .comment_menu li p { line-height: 26px; padding: 5px; }
.sub_box { padding-bottom: 10px; }
.guestbook_box h3 strong { color: #000; }
.guestbook_box h3 { padding-top: 10px; font-weight: normal; font-size: 100%; }
.guestbook_box h3 small, .guestbook_box h3 strong, .guestbook_box h3 a { display: inline-block; padding-right: 10px; }
.guestbook_box h3 a { border: 1px solid #aaa; padding: 3px 15px; float: right; }
.plus_img li a { display: block; }
.cantack_p { line-height: 30px; display: inline-block; }
.cantack_p a { color: #3478b1; text-decoration: underline; }
.mrt { margin-top: 20px; }
.comment_box { position: absolute; right: 10px; bottom: 10px; }
.comment_box a { font-zie: 12px; color: #999; font-family: Verdana, Geneva, sans-serif; }
.comment_box .conmment { padding-left: 20px; float: right; padding-right: 10px; padding-bottom: 5px; }
.comment_box .conmment { background: url(../img/mini/Ico_comment.png) no-repeat 0 2px; }
.comment_title { margin-bottom: 20px; padding: 10px 0; border-bottom: 1px dashed #ccc; color: #42aa49; }
.recommend .comment_title{padding:10px;}
/*===图文/留言---end---*/

/*===相册---start---*/

.photo_box { padding: 10px; }
.photo_title { height: 40px; background-image: linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -ms-linear-gradient(bottom, #9c9c9c 0%, #f5f5f5 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f5f5f5)); padding:0; position:absolute; z-index:10; max-width:640px; width:100%;}
.photo_title a { margin:7px; width: 50px; height: 26px; border: 1px solid #999; border-radius: 5px; box-shadow: 0 1px 1px #fff; display: block;text-indent: -9999px; overflow: hidden; }
.photo_title a.back { background: url(../img/mini/Ico_photo_01.png) no-repeat center center; background-size: 20px; }
.photo_title a.show1 { background: url(../img/mini/Ico_photo_02.png) no-repeat center center; background-size: 30px; margin-right: 10px; }
.photo_title a.show2 { background: url(../img/mini/Ico_photo_03.png) no-repeat center center; background-size: 30px; }
.photo_list li { width: 80%; height:auto; overflow:hidden; background: #f8f8f8; border-radius: 5px; margin: 0 auto 10px; box-sizing: border-box; padding: 10px; }
.photo_list li .cover{ width:100%; height:auto; display:block; overflow:hidden;}
.photo_list li img {width: 100%;}
.photo_list li h4 { padding: 10px 0 0; font-weight: normal; }
.photo_list li h4 small { float: right; font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #999; line-height: 22px; }

.photo_info{ height:100%;}
.photo_info li{ height:100%; padding-top:40px;text-align:center;}

/*全景*/
.panoramic { width: 152px; height: 77px; position: absolute; bottom: -3px; left: 50%; margin-left: -76px; overflow: hidden; }
.panoramic .music, .panoramic .bodily { width: 76px; height: 77px; background: url(../img/mini/photo_music.png) no-repeat; cursor: pointer; float: left; }
.panoramic .music:hover, .panoramic .bodily:hover { background: url(../img/mini/photo_music_hover.png) no-repeat; }
.panoramic .bodily, .panoramic .bodily:hover { background-position: -75px 0; }
.bodily_box { position: relative; }
.plus_img { padding-bottom: 5px; }
.plus_img li { width: 66px; height: 66px; background: url(../img/mini/plus.png) no-repeat center center; float: left; margin: 0 8.5px 10px 0; }
.plus_img li:last-of-type, .bill a:last-of-type img { margin-right: 0; }
.plus_img li a { width: 100%; height: 100%; }
.bill { padding: 5px; }
.bill img { width: 31%; margin: 0 5px 5px 0; }
.bill_box .sub_menu li { border-bottom: 1px solid #eee; }
/*瀑布流*/
.waterfall_box { padding: 10px 0 50px 10px; }
#lxf_box {}
#lxf_box li { width:25.3333%; height:60px;background: #f8f8f8; text-align: center; vertical-align: middle; padding:2%; margin:2% ;left: 0px; top: 0; border-radius: 4px; overflow: hidden; float: left;}
#lxf_box li img { width:100%; min-height:100%; display: block; border: 0 }
/*===相册---end---*/

/*===会员中心---start---*/
	/*全局通用*/
.card_desc { padding: 0 10px; margin: 0 auto 10px; }
.card_desc a:before { background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.41) 0%, #E1E1E1 100%); background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.41) 0%, #E1E1E1 100%); background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.41) 0%, #E1E1E1 100%); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.41) 0%, #E1E1E1 100%); background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.41) 0%, #E1E1E1 100%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0.41)), color-stop(1, #E1E1E1)); content: ""; display: block; position: absolute; width: 100%; height: 100%; padding: 5px; left: -5px; top: -6px; z-index: -1; -webkit-border-radius: 35px; -moz-border-radius: 35px; -o-border-radius: 35px; border-radius: 35px; -webkit-box-shadow: 0 1px 1px rgba(144, 145, 147, 0.21) inset, 0 1px 0 rgba(255, 255, 255, 0.57); -moz-box-shadow: 0 1px 1px rgba(144, 145, 147, 0.21) inset, 0 1px 0 rgba(255, 255, 255, 0.57); -o-box-shadow: 0 1px 1px rgba(144, 145, 147, 0.21) inset, 0 1px 0 rgba(255, 255, 255, 0.57); box-shadow: 0 1px 1px rgba(144, 145, 147, 0.21) inset, 0 1px 0 rgba(255, 255, 255, 0.57); }
.card_desc a { display: block; border-radius: 22px; text-align: center; background-color: #F4F4F4; padding: 6px 20px; font-size: 16px; border: 1px solid #C6C6C6; background-image: linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%); background-image: -o-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%); background-image: -moz-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%); background-image: -webkit-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%); background-image: -ms-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #E1E1E1), color-stop(1, #ffffff)); -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; -webkit-border-radius: 35px; -moz-border-radius: 35px; -o-border-radius: 35px; border-radius: 35px; color: #666666; position: relative }
.card_desc a:active { padding-bottom: 5px; padding-left: 20px; padding-right: 20px; padding-top: 7px; top: 0px; background-image: linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%); background-image: -o-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%); background-image: -moz-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%); background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%); background-image: -ms-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #E1E1E1) ); }
.card_desc span { color: #646464; text-shadow: 1px 1px 1px #fff; padding-left: 25px; display: inline-block; background: url(../img/mini/card_show.png) no-repeat left center; background-size: 22px 16px }
.jf_list li { width: 33%; float: left; display: block; }
.jf_list li a { display: block; color: #333; text-decoration: none; cursor: pointer; }
.jf_list li span, .jf_list li p { display: block; text-align: center; }
.jf_list li { border-right: 1px #ccc dotted; }
.jf_list li:nth-child(3) { border: none; }
ul.main_box li .member_tr { display: block; background: url(../img/mini/dot_right.png) no-repeat right 50%; background-size: 8.5px 13px; padding: 10px 20px 9px 0; font-size: 16px; min-height: 22px; position: relative; }
ul.main_box li .member_tr em { display: block; border-radius: 20px; color: #fff; font-size: 12px; line-height: 12px; padding: 4px 7px; position: absolute; right: 20px; top: 25%; text-shadow: 0 0 #fff; font-style: normal; -moz-box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25); box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25); background: #1CC200; }
ul.main_box li .member_tr em.no { background: #B70000 }
ul.main_box li.addr { background: url(../img/mini/addr.png) no-repeat 10px center; background-size: 15px 15px; padding-left: 34px; }
ul.main_box li.tel { background: url(../img/mini/tel.png) no-repeat 11px center; background-size: 15px 15px; padding-left: 34px; }
.member_top { background: url(../img/mini/member_top_bg.png) repeat-x; padding: 0 20px; height: 109px; line-height: 100px; color: #FFF; font-size: 40px; text-shadow: 1px 1px 1px #000; margin-bottom: 10px; }
/*积分详情*/
.month_sel { padding-left: 46px; background: url(../img/mini/calendar.png) no-repeat left center; background-size: 40px 40px; min-height: 40px; margin-bottom: 10px; }
.month_sel .jf_title { background: url(../img/mini/dot_btm.png) no-repeat right 50%; background-size: 12px; line-height: 18px; display: block; padding-right: 15px; }
.card_month { position: absolute; height: 60px; left: 0; top: 0; width: 100%; opacity: 0 }
.jf_info_list table { border: 1px #e7e7e7 solid; }
.jf_info_list th { width: 33%; font-size: 14px; font-weight: normal; background: #f8f8f8; border-bottom: 1px #e7e7e7 solid; line-height: 40px; border-right: 1px #e7e7e7 solid; }
.jf_info_list th:nth-child(3) { border-right: none; }
.jf_info_list tr:nth-child(odd) { background: #FFF; text-align: center; line-height: 30px; }
.jf_info_list tr:nth-child(even) { background: #f8f8f8; text-align: center; line-height: 30px; }
.jf_info_list .ok { color: #1CC200 }
/*通知*/
.member_news_list { }
.member_news_list .title { min-height: 40px; }
.member_news_list .title span { background: url(../img/mini/dot_right.png) no-repeat right 50%; background-size: 8.5px 13px; line-height: 18px; display: block; padding-right: 15px; }
.member_news_list.open .title span { background: url(../img/mini/dot_btm.png) no-repeat right 50%; background-size: 12px; }
.member_news_list .member_news_info { background: #f8f8f8; padding: 15px; display: none; }
.member_news_list.open .member_news_info { display: block; }
.member_news_list .member_news_info .exchange { width: 70%; margin: 0 auto; }
.member_news_list .member_news_info b { color: #797979; display: block; font-size: 13px; line-height: 26px; text-align: left; font-weight: normal; }
/*个人资料*/
.no_bodder li { border: none; margin-bottom: 8px; }
.profile .profile_title { background-color: #E1E1E1; background-image: linear-gradient(bottom, #E7E7E7 0%, #F9F9F9 100%); background-image: -o-linear-gradient(bottom, #E7E7E7 0%, #F9F9F9 100%); background-image: -moz-linear-gradient(bottom, #E7E7E7 0%, #F9F9F9 100%); background-image: -webkit-linear-gradient(bottom, #E7E7E7 0%, #F9F9F9 100%); background-image: -ms-linear-gradient(bottom, #E7E7E7 0%, #F9F9F9 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E7E7E7), color-stop(1, #F9F9F9) ); -webkit-box-shadow: 0 1px 0 white inset, 0 1px 0 #EEE; -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; box-shadow: 0 1px 0 white inset, 0 1px 0 #EEE; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; padding: 5px; }
.profile th { color: #333; padding: 0; font-size: 16px; line-height: 40px; font-weight: normal; text-align: left; width: 80px; vertical-align: top; }
.profile td { color: #999; padding: 0 }
.profile .txt { width: 100%; font-size: 16px; color: #999; border-radius: 5px; background-color: white; border: 1px solid #E8E8E8; margin: 5px 0 4px; padding: 5px 0; text-indent: 10px; display: block; }
.profile .sex { outline: none; -webkit-appearance: button; -webkit-user-select: none; overflow: visible; }
.profile .sex .li { color: #333 }
.profile .address { height: 55px; overflow-y: visible }
.profile .info { height: 100px; overflow-y: visible }
.profile_btn { display: block; margin: 10px 0; }
/*===会员中心---end---*/

/*===微活动---start---*/
/*大转盘*/
.wheel_bg { background: url(../img/mini/green_bg.jpg) repeat; }
.wheel_box { }
.wheel_box .wheel { width: 90%; margin: 0 auto; padding: 0; }
.content_box .prize_info { background: #fff9c9; border: none; box-shadow: 0 0px 0px #91943f; }
.prize_info li.title { background-color: #fff9c9; background-image: linear-gradient(bottom, #dad292 0%, #fff9c9 100%); background-image: -o-linear-gradient(bottom, #dad292 0%, #fff9c9 100%); background-image: -moz-linear-gradient(bottom, #dad292 0%, #fff9c9 100%); background-image: -webkit-linear-gradient(bottom, #dad292 0%, #fff9c9 100%); background-image: -ms-linear-gradient(bottom, #dad292 0%, #fff9c9 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #dad292), color-stop(1, #fff9c9) ); -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; padding: 5px; border: none; text-align: center; font-size: 16px; color: #333; }
.prize_info li { height: auto; overflow: hidden; }
.prize_info li .prize { float: left; width: 31.333%; margin-right: 3%; margin-top: 10px; }
.prize_info li .prize:nth-child(3n+3) { margin-right: 0 }
.prize_info li .prize a { display: block; text-align: center }
.prize_info li .prize p { line-height: 30px; }
.prize_info .prize_desc { padding: 10px 0; }
.prize_info li .prize_desc em { display: block; color: #ca0300; font-style: normal; }
.popup_window .winning { background: none; }
.popup_window .winning .slogan { width: 70%; color: #df0000; text-align: center; font-size: 24px; margin: 0 auto; display: block; background: url(../img/mini/winning.png) no-repeat; padding-left: 60px; min-height: 82px; line-height: 82px; }
/*刮刮乐*/
.ggl_bg { background: url(../img/mini/ggl_bg.jpg) repeat; }
.ggl_box { }
.ggl_box .ggl { width: 90%; margin: 0 auto; padding: 20px 0 }
/*优惠券*/
.coupons_bg { }
.coupons { width: 90%; margin: 0 auto; padding: 20px 0; }
.coupons_news .prize_desc { padding: 10px; border: none; }
/*===微活动---end---*/

/*===微互动---start---*/
/*查快递*/
.courier_box { height: 400px; background: url(../img/mini/courier_bg.jpg); margin-bottom: 10px; position: relative; }
.courier_box .search_box { width: 80%; top: 45%; position: relative; margin: 0 auto; }
.courier_info { position: absolute; width: 290px; top: 50%; left: 50%; margin: -40px 0 0 -145px; }
.courier_box .key_box { width: auto; margin-right: 60px; }
.courier_box .btn_box { float: right; width: 50px; }
.courier_box .search_box .key_input { width: 100%; padding: 10px 0; float: left; text-indent: 10px; font-family: "microsoft yahei"; font-size: 20px; box-shadow: 0 0 5px #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.courier_box .search_box .submit { width: 50px; padding: 10px 0; float: right; font-size: 20px; background-image: linear-gradient(bottom, #7e7e7e 0%, #9c9c9c 100%); background-image: -o-linear-gradient(bottom, #7e7e7e 0%, #9c9c9c 100%); background-image: -moz-linear-gradient(bottom, #7e7e7e 0%, #9c9c9c 100%); background-image: -webkit-linear-gradient(bottom, #7e7e7e 0%, #9c9c9c 100%); background-image: -ms-linear-gradient(bottom, #7e7e7e 0%, #9c9c9c 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #7e7e7e), color-stop(1, #9c9c9c)); box-shadow: 0 0 5px #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: #333; text-shadow: 0 0 1px #fff; font-family: "microsoft yahei"; }
.courier_box .search_box .submit:active { width: 60px; height: 60px; float: right; font-size: 20px; background-image: linear-gradient(bottom, #9c9c9c 0%, #7e7e7e 100%); background-image: -o-linear-gradient(bottom, #9c9c9c 0%, #7e7e7e 100%); background-image: -moz-linear-gradient(bottom, #9c9c9c 0%, #7e7e7e 100%); background-image: -webkit-linear-gradient(bottom, #9c9c9c 0%, #7e7e7e 100%); background-image: -ms-linear-gradient(bottom, #9c9c9c 0%, #7e7e7e 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #9c9c9c), color-stop(1, #7e7e7e)); box-shadow: 0 0 5px #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: #333; text-shadow: 0 0 1px #fff; font-family: "microsoft yahei"; }
.courier_pd { padding: 10px; line-height: 20px; }
.courier_pd .title { font-size: 16px; font-weight: bold; line-height: 30px; }
.courier_logo.sto { width: 195px; height: 68px; margin: 0 auto; }
.courier_num { width: 100%; font-size: 30px; padding: 15px; text-align: center; color: #fff; text-shadow: 0 0 1px #000; }
.courier_check { margin-bottom: 10px; display: block; background: url(../img/mini/courier_line.jpg) repeat-y 15px 0 }
.courier_check li { padding: 0 10px 20px 40px; position: relative; }
.courier_check li .ico { position: absolute; left: 6px; top: 0; display: block; width: 16px; height: 16px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #fff url(../img/mini/courier_yes.png) no-repeat center center; background-size: 14px; border: 2px #cbcbcb solid; }
.courier_check li:nth-child(1) .ico { background: #10adf6 url(../img/mini/courier_no.png) no-repeat center center; background-size: 14px; border: 2px #009ae1 solid; }
.courier_check li:last-of-type { background: #f0f0f0; }
/*===微互动---end---*/

/*===服务网点---start---*/
.branch { }
.branch .branch_name { font-weight: bold; }
.branch p { font-size: 14px; }
.branch_info { height: auto; overflow: hidden; padding: 10px 0 }
.branch_img { width: 100px; height: 100px; float: left; margin-right: 15px; border-radius: 5px; overflow: hidden; box-shadow: 1px 1px 3px rgba(0,0,0,0.5) }
.branch_position { border-radius: 5px; border: 1px #c6c6c6 solid; margin-bottom: 10px; background: #f8f8f8 }
.branch_position a { text-align: center; display: block; padding: 5px; }
.branch_position span { display: inline-block; background: url(../img/mini/position.png) no-repeat left center; background-size: 20px; padding: 10px 10px 10px 30px; line-height: 22px; text-align: left; }
.branch_news { padding: 10px; }
.branch_news .title { line-height: 25px; padding-bottom: 10px; font-size: 16px; font-weight: bold; color: #333; border-bottom: 1px #c6c6c6 dashed; }
.branch_news .branch_news_info { line-height: 20px; padding: 10px 0; }
/*===服务网点---end---*/

/*===渠道代理---start---*/
.agent_info { margin-bottom: 10px; font-size: 14px; line-height: 25px; }
.agent_info strong { font-size: 16px; }
.agent_tel span { font-size: 16px; font-weight: bold; margin-bottom: 10px; display: block; }
.agent_list { border: 1px #c6c6c6 solid; background: #fff; font-size: 14px; border-radius: 5px; box-shadow: 0 1px 1px #F6F6F6; margin: 10px 0 }
.agent_list .title { line-height: 40px; border-radius: 5px 5px 0 0; font-size: 16px; font-weight: bold; padding: 0 10px; background-image: linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%); background-image: -ms-linear-gradient(bottom, #9c9c9c 0%, #f5f5f5 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f5f5f5)); }
.agent_list li { margin: 10px; border-bottom: 1px #dbdbdb dashed; padding-bottom: 10px; }
.agent_list li:last-of-type { border: none; }
.agent_list li .title { width: 80px; margin: 0 auto; padding: 10px 0 10px 50px; background: url(../img/mini/head_bg.png) no-repeat left center; font-size: 18px; font-weight: bold; }
.agent_list li .agent_tel { padding: 10px; border-radius: 5px; border: 1px #c6c6c6 solid; background: #f8f8f8; text-align: center; margin-bottom: 10px; border-radius: 5px; box-shadow: 0 1px 1px #F6F6F6; }
.agent_list li .address { line-height: 22px; }
.hide { display: none; }
/*===渠道代理---end---*/

/*===微投票---start---*/
.vote_list h3{ padding:10px;}
.vote_list li{padding: 10px; margin-bottom:10px; position:relative; display:block; overflow:hidden}
.vote_list li:nth-of-type(even) { background: #f8f8f8; }
.vote_list li:nth-of-type(odd) { background: #eeeeee; }
.vote_list li:last-of-type { background: none;}
.vote_list .vote_title{ width:74%; float: left; text-align:left; line-height:20px;}
.vote_list .radio_btn{ float:left; display:block; margin-right:1px; font-weight:bold; width:25%}
.vote_list .radio_btn input{ margin:0; padding:};
.vote_list .vote_desc{ width:98%; min-height:100px; border-radius:5px; border:none; box-shadow:0 0 5px rgba(0, 0, 0, 0.3); vertical-align:top; padding:1%;}

.vote_detail h3 { padding:10px; background:#f8f8f8;}
.vote_detail li { width: 100%; margin-top: 10px; }
.vote_detail h4 { font-size: 16px; font-weight: normal; margin: 10px 0; }
.vote_detail .vote_bar { position: relative; padding-right: 50px; }
.vote_detail .color_bar { height: 30px; border: 1px #dedede solid; border-radius: 3px; }
.vote_detail .color { height: 30px; }
.vote_detail .vote_bar span { position: absolute; right: 10px; top: 8px; }

/*===微投票---end---*/

/*===微预约---start---*/
.yuyue_bg{ background:url(../img/yuye.jpg) repeat ; background-size:100% 100%}
.yuyue_box{ background:none; border:none; padding-top:15px; box-shadow:none;}
.yuyue_box h3{ padding:0; color:#fff; font-size:18px;}
.yuyue_box .yuyue_txt{ padding:10px; margin:15px auto; height:auto; overflow:hidden; color:#fff; background:rgba(255, 255, 255, 0.3); min-height:100px; border-radius:5px; font-size:14px;color:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, 0.2); }
.yuyue_box .yuyue_txt p{color:#fff }
.scratchpad { position: relative; width: 183px; height: 36px; overflow: hidden; border: 1px solid blue; }
.scratchpad div { position: absolute; top: 0; left: 0; z-index : 10; }
.showhide { display: none; width: 183px; height: 36px; }
.main_body .cover #scratchpad img { width: 150px; }
.yuyue_form { width: 95%; margin: 10px auto 60px; z-index: 1000; background: #FFF }
.yuyue_form .title { height: 45px; line-height: 45px; font-size: 18px; padding: 0 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#E1E1E1)); }
.yuyue_form .main_form { padding: 10px 15px 15px; }
.yuyue_tb td { padding: 5px 0; white-space:nowrap}
.yuyue_tb input, .yuyue_tb textarea, .yuyue_tb select { float: left; font-size: 14px; color: #555; line-height: 20px; vertical-align: middle; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 1px solid #CDCDCD; background: white; margin: 0; padding: 4px 6px; box-shadow: none; }

.yuyue_btn input{ width: 100%; padding:10px 0;display: block; text-align: center;  background:#5e9cb4; border-radius: 5px; color: #fff; margin:0 auto 60px; font-size:18px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);}

.yuyue_btn .acc_success { padding: 0; font-size: 18px; border: 1px solid #C6C6C6; background-image: linear-gradient(bottom, #ff7753 0%, #ffc454 100%); background-image: -o-linear-gradient(bottom, #ff7753 0%, #ffc454 100%); background-image: -moz-linear-gradient(bottom, #ff7753 0%, #ffc454 100%); background-image: -webkit-linear-gradient(bottom, #ff7753 0%, #ffc454 100%); background-image: -ms-linear-gradient(bottom, #ff7753 0%, #ffc454 100%); background-image: webkit-gradient(linear, left bottom, left top, color-stop(0, #ff7753), color-stop(1, #ffc454)); color: #FFF; }
.alldiv{width:100%;height:100%;position:fixed;z-index:9999;display:none;}
.yuyue_talk{ display:none; width:80px; height:54px; background:url(../img/yuyue_talk.png) no-repeat; position:absolute; bottom:10px; right:10px}
/*===微预约---end---*/

/*===微讨论---start---*/
.discuss_top{ height:50px; line-height:50px; border-bottom:1px #dbdbdb solid; background:#f6f6f6; font-size:18px; font-weight:bold;text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding:0 60px; position:relative; text-align:center;}
.discuss_top .return{ position:absolute; display:block; width:30px; height:30px; line-height:30px; text-align:center; padding:10px; left:0; top:0;}
.discuss_top .posting{ position:absolute; display:block; width:30px; height:30px; line-height:30px; text-align:center; padding:10px; right:0; top:0;}
.dis_theme{ padding:10px 0}
.dis_theme li{ background:#f8f8f8 url(../img/dis_themebg.jpg) repeat-y; margin-bottom:10px; border-radius:5px; overflow:hidden; position:relative; box-shadow:0 1px 2px rgba(0,0,0,.3)}
.dis_theme li a{ display:block; padding:15px 15px 15px 20px;}
.dis_theme em{display: block;border-radius: 20px;color: white;font-size: 12px;line-height: 12px;padding: 4px 7px;position: absolute;right: 20px;top: 25%;text-shadow: 0 0 white;font-style: normal;-moz-box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25);-webkit-box-shadow: 0 0 0 3px white, 0 2px 5px 3px rgba(0, 0, 0, 0.25);box-shadow: 0 0 0 3px white, 0 2px 5px 3px rgba(0, 0, 0, 0.25);background: #d40000;}

.bbs_post_btn{}
.bbs_post_btn li{ width:55px; height:55px; margin:5px 5px 0 0; display:block; float:left; border-radius:4px; overflow:hidden;}
.bbs_post_btn li:nth-child(5n+1){ background:#f1c632}
.bbs_post_btn li:nth-child(5n+2){background:#ff5ab7}
.bbs_post_btn li:nth-child(5n+3){background:#29bbf1}
.bbs_post_btn li:nth-child(5n+4){background:#f18229}
.bbs_post_btn li:nth-child(5n){background:#57d81e}
.bbs_post_btn li:last-of-type{ margin-right:0}
.bbs_post_btn li.btn_off{ background:#bababa}
.bbs_post_btn li a{ display: block; color:#fff; text-align:center; }
.bbs_post_btn li a i{ display:block; height:18px; margin:6px 0 3px; font-style:normal;}

.discuss_box { margin: 0; padding: 0 }
.discuss_box .main_content li { margin-bottom: 10px; padding:10px; position: relative; background: #f8f8f8; }
.bbshead_user { padding: 10px; height: 60px; line-height: 60px; font-size: 20px; position: relative; overflow: hidden; }
.bbshead_user span { width: 60px; height: 60px; display: block; float: left; margin-right: 10px; border-radius: 50%; overflow: hidden; border: 1px #f2f2f2 solid; padding:2px;}
.bbshead_user .dis_member_bg { position: absolute; width: 100%; height: 100% !important; left: 0; top: 0; z-index:-1 }
.bbshead_user { padding:30px; margin-bottom: 10px; }
.discuss_box .discuss_title { padding: 10px 0; font-size: 16px; color: #000; font-weight: bold; }
.discuss_box small { font-size: 12px; color: #aaa; display: block; margin-bottom: 10px; }
.discuss_box small a{ color: #269BD1; display:inline;}
.discuss_box small .sm_r{ font-size:16px;}
.discuss_box .discuss_info { width: 100%; font-size:16px;}
.discuss_box .ding { display: block; background: #C00; color: #fff; padding: 3px; position: absolute; left: 20px; top: 0 }
.discuss_box .top { display: block; background: #269BD1; color: #fff; padding: 3px; position: absolute; left: 20px; top: 0 }
.discuss_box .fav { display: block; position: absolute; right: 10px; top: 10px; font-size:12px; }
.discuss_box .fav i { display: block; width:10px; height: 10px; margin:0 auto 3px;}
.discuss_comment { margin: 10px 0; }
.discuss_comment h3 { padding: 10px; color: #666; position: relative; border-bottom:1px #dbdbdb solid; border-top:1px #dbdbdb solid; }
.discuss_comment h3 span { font-size: 16px; }
.discuss_comment li { padding: 10px; position: relative; border-radius:3px; background:#f5f5f5; margin-top:10px;}
.discuss_comment li .img { width: 50px; height: 50px; padding: 2px; border: 1px #eee solid; border-radius: 3px; position: absolute; left: 10px; top: 10px; }
.discuss_comment li .img img { width: 50px; height: 50px; }
.triangle { display:none; border-top: 10px #666 solid; width: 0; height: 0; border-left: 10px #fff solid; border-right: 10px #fff solid; position: absolute; left: 30px; bottom: -10px; }
.discuss_comment li .name { font-size: 12px; height: 25px; line-height: 25px; }
.discuss_comment li .dis_info { width: 100%; font-size: 18px; padding: 10px 0 }
.discuss_comment li .floor_num { position: absolute; right: 10px; top: 10px; display: block; padding: 3px; background: #d7d7d7; border: 1px #ccc solid; border-radius: 3px; color: #666; font-size: 14px }
.discuss_comment li .reply { position: absolute; right: 10px; bottom: 10px; padding: 3px; background: #d7d7d7; border: 1px #ccc solid; border-radius: 3px; color: #000; font-size: 14px }
.discuss_box .load_more { display: block; padding: 10px; text-align: center; }
.discuss_box .post_comment { width: 100%; }
.discuss_box .post_comment h3{ margin-bottom:10px;}
.discuss_box .post_comment input{ width:100%; line-height:30px; border-radius: 5px; border: 1px #ccc solid}
.discuss_box .post_comment .bbs_sub{ margin:0; padding:0; width:100%; border:none; height:40px; line-height:40px; background: #d67900; font-size: 16px; text-decoration: none;  -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: #fff ; display: block; text-align: center; text-shadow: 0 1px rgba(0, 0, 0, 0.2); box-shadow:none;}
.discuss_box .post_comment textarea { resize: none; width:100%; min-height: 100px; border-radius: 5px; border: 1px #ccc solid }
.discuss_box .post_comment .title{ background:#f2f2f2; margin:10px 0; line-height:30px; border-radius:5px ; text-align:center;}
.discuss_box .post_comment p{ margin:10px 0}
.comment_send { padding: 5px 15px; background: #dd7800; border: 1px #c16900 solid; display: block; margin: 20px 10px; border-radius: 5px; }
.comment_send a { color: #fff }
.icon-temp{ width:10px; height:20px; background: url(../img/wenduji.png) no-repeat left center; background-size:auto 100%; display:inline-block; float:left}

/*===微讨论---end---*/

/*===微调研---start---*/
.research_box h1{ padding:10px; font-size:16px ; margin-bottom:10px; background:#f5f5f5;}
.research_box ul h3{ font-size:15px; padding:10px; background:#8e8e8e; border-radius:5px 5px 0 0; color:#fff;}
.research_box ul li{ background:#f6f6f6; padding:15px 10px;}
.research_box ul li:nth-child(2n){ background:#eee;}
/*===微调研---end---*/
