<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>儿童资源大全</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/zepto.min.js"></script>
</head>


<body>
<header>
<!--<div class="back"></div>-->
<div class="title ico">儿童资源大全</div>
</header>
<div class="block47"></div>


<div class="index_item" style="background-color:#fbdf3e;">

<div class="title1">
<div class="left">
<!--
<div class="img">
<div class="block block_case">        		
  <div class="circle"><img src="images/circle_bg2x.png" alt=""></div>
  <div class="logo"><img src="images/ww.png" alt=""></div>
</div>
</div>
-->
<h2>儿童教材</h2>
</div>
<!--
<div class="right">
关注
</div>
-->
</div>

<ul>
<li class="color_5"><a href="index.html" ><img src="images/a5.png"/><span>父母学堂</span></a></li>
<li class="color_2"><a href="index.html" ><img src="images/a6.png"/><span>儿童健康</span></a></li>
<li class="color_4"><a href="index.html" ><img src="images/a1.png"/><span>儿童文学</span></a></li>
<li class="color_3"><a href="index.html" ><img src="images/a2.png"/><span>优秀作文</span></a></li>
<li class="color_8"><a href="index.html" ><img src="images/a3.png"/><span>写作素材</span></a></li>
<li class="color_6"><a href="index.html" ><img src="images/a4.png"/><span>百科全书</span></a></li>
<li class="color_1"><a href="index.html" ><img src="images/a7.png"/><span>十万为什么</span></a></li>
<!--<li class="color_7"><a href="index.html" ><img src="images/a8.png"/><span>人文五行</span></a></li>-->
</ul>
</div>

<div class="index_item" style="background-color:#fbdf3e;">

<div class="title1">
<div class="left">
<!--
<div class="img">
<div class="block block_case">        		
  <div class="circle"><img src="images/circle_bg2x.png" alt=""></div>
  <div class="logo"><img src="images/ww.png" alt=""></div>
</div>
</div>
-->
<h2>有声大全</h2>
</div>
<!--
<div class="right">
关注
</div>
-->
</div>


    <ul>

	
 <li class="color_4"><a href="index.html" ><img src="images/a8.png"/><span>有声故事</span></a></li>
	<li class="color_3"><a href="index.html" ><img src="images/a1.png"/><span>儿童歌谣</span></a></li>

    </ul>

</div>




<div class="index_item" style="background-color:#fbdf3e;">
<div class="title1">
<div class="left">
<!--
<div class="img">
<div class="block block_case">        		
  <div class="circle"><img src="images/circle_bg2x.png" alt=""></div>
  <div class="logo"><img src="images/ww.png" alt=""></div>
</div>
</div>
-->
<h2>图片资源</h2>
</div>
<!--
<div class="right">
关注
</div>
-->
</div>
    <ul>
<li class="color_8"><a href="index.html" ><img src="images/a3.png"/><span>简笔画大全</span></a></li>

<li class="color_7"><a href="index.html" ><img src="images/a5.png"/><span>填色图片</span></a></li>

<li class="color_5"><a href="index.html" ><img src="images/a7.png"/><span>动漫壁纸</span></a></li>
    </ul>
</div>



<div class="index_item"  style="background-color:#fbdf3e;">

<div class="title1">
<div class="left">
<!--
<div class="img">
<div class="block block_case">        		
  <div class="circle"><img src="images/circle_bg2x.png" alt=""></div>
  <div class="logo"><img src="images/ww.png" alt=""></div>
</div>
</div>
-->
<h2>脑力测试</h2>
</div>
<!--
<div class="right">
关注
</div>
-->
</div>
    <ul>
<li class="color_7"><a href="index.html" ><img src="images/a2.png"/><span>动物谜语</span></a></li>
<li class="color_6"><a href="index.html" ><img src="images/a1.png"/><span>植物谜语</span></a></li>
<li class="color_8"><a href="index.html" ><img src="images/a3.png"/><span>物品谜语</span></a></li>
<li class="color_3"><a href="index.html" ><img src="images/a8.png"/><span>脑筋急转弯</span></a></li>

    </ul>

</div>


<div class="index_item" style="background-color:#fbdf3e;">

<div class="title1">
<div class="left">
<!--
<div class="img">
<div class="block block_case">        		
  <div class="circle"><img src="images/circle_bg2x.png" alt=""></div>
  <div class="logo"><img src="images/ww.png" alt=""></div>
</div>
</div>
-->
<h2>学生工具</h2>
</div>
<!--
<div class="right">
关注
</div>
-->
</div>
    <ul>
<li class="color_4"><a href="index.html" ><img src="images/a2.png"/><span>新华字典</span></a></li>
<li class="color_4"><a href="index.html" ><img src="images/a1.png"/><span>成语词典</span></a></li>
   </ul>

</div>

<!--
<div class="search">
<div class="inner">
	<form action="s.php" method="get">
	
    	<ul class="up">
				<li data="mp3">MP3分集</li>
				<li data="mp3lb">MP3专辑</li>
				<li data="article">儿童文学</li>
				<li data="zuowen">优秀作文</li>
				<li data="news">育儿百科</li>
				<li data="photo">儿童图库</li>
		        </ul>
	<span>选择类型</span>
	<input name="c" id="category" type="hidden" />
	<input class="text" name="k" type="text" placeholder="关键词" value=""/><input class="searchbtn" type="submit" value=""/>
	</form>
    </div>
</div>

<script>

/**
 *  首页js 
 */

Zepto(function($){
	$('.search span').on('click', function(){
		$(this).prev().toggle();
		$(this).toggleClass('open');
	});
	$('.search ul li').on('click', function(){
		$("#category").val($(this).attr('data'));
		$('.search span').text($(this).text());
		$(this).parent().hide();
	});
}) 

</script>
-->
</body>
</html>
	
