
body { font-family:Verdana; font-size:14px; margin:0;}

#main {margin:0 auto; width:100%; }
#leftsidebar { float:left; width:120px; height:500px; background:#ffffff; }



#rightsidebar { float:left;  background:#ffffff; margin-left:10px !important; margin-left:15px;}
#main2 { 
    margin-left:120px !important; margin-left:120px; height:500px; background:#FFFFFF;}

#left_s1 { 
    height:120px; background:#FFFFFF;
    
    }
#right_s1 { 
    height:120px; background:#FFFFFF;
   word-wrap:break-word; 
   overflow:auto;
   overflow-y:auto;
    
    }
    
#right_s2 { 
    height:60px; background:#FFFFFF;
   word-wrap:break-word; 
   overflow:auto;
   overflow-y:auto;
    
    }

#test1 {width:100px;height:200px;border:1px dashed #ccc;background:#f8f8f8;}
#con22 { 
    height:100%;
width:100%;
border:0;

    margin-top:10px !important; margin-top:10px;
    margin-left:130px !important; margin-left:130px; background:#00c13f;}

#citie1 { margin-left:5px !important; margin-left:5px; 
margin-top:5px !important; margin-top:5px;
margin-bottom:5px !important; margin-bottom:5px;
margin-right:5px !important; margin-right:5px;
box-shadow: 1px 1px 3px 0 #222222;
border-radius: 0px;
text-align:left;
float:left;
word-spacing: normal;
height:110px; width: 110px; background:#00c13f;}

#citie2 { margin-left:5px !important; margin-left:5px; 
margin-top:5px !important; margin-top:5px;
margin-bottom:5px !important; margin-bottom:5px;
margin-right:5px !important; margin-right:5px;
box-shadow: 1px 1px 3px 0 #222222;
border-radius: 0px;
text-align:left;
float:left;

word-spacing: normal;
height:110px; width: 110px; background:#00c13f;}

#citie2_input { margin-left:5px !important; margin-left:5px; 
margin-top:5px !important; margin-top:5px;
margin-bottom:5px !important; margin-bottom:5px;
margin-right:5px !important; margin-right:5px;
box-shadow: 1px 1px 3px 0 #222222;
border-radius: 0px;
text-align:left;
float:left;

word-spacing: normal;
height:110px; width: 240px; background:#00c13f;}



#citie2_1 { margin-left:15px !important; margin-left:15px; 
margin-top:5px !important; margin-top:5px;
margin-bottom:5px !important; margin-bottom:5px;
margin-right:5px !important; margin-right:5px;
box-shadow: 1px 1px 3px 0 #222222;
border-radius: 0px;
text-align:left;
float:left;
word-spacing: normal;
height:110px; width: 110px; background:#00c13f;}




#citiefont { margin-left:10px !important; margin-left:10px;  margin-bottom:5px !important; margin-bottom:5px;
margin-right:10px !important; margin-right:10px;
margin-top:5px !important; margin-top:5px;
 line-height: 50px;
 
font-weight: bold;font-size: 15px;color: white;
}
#citiefont_checkbox { margin-left:10px !important; margin-left:10px;  margin-bottom:0px !important; margin-bottom:0px;
margin-right:10px !important; margin-right:10px;
margin-top:15px !important; margin-top:15px;
 line-height: 50px;
 
font-weight: bold;font-size: 15px;color: white;
}



#menu {list-style-type:none; padding:0; margin:0;}
#bb {float:left; background:#088; margin:1px 1px 0 0;position:relative;}
#cc {background:#f80;list-style-type:none; padding:0; margin:0;}