
{include file="w/head.html"}

 
        
<h2 class="title ui-border-b">
    <a>CRM客户管理</a>
   
    <a class="ui-btn" href="privilege.html" style="">返回</a>
</h2>
  
        <div class="content">

<p><ul class="ui-list ui-border-tb">
   
    <li>
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/setting.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t2">
            <h4 class="ui-nowrap">无访问权限</h4>
            
        </div>
    </li>
   
     
</ul></p>


</div>
    </body>
</html>