
{include file="w/head.html"}

{if $fall==1} 
        {include file="w/title.html"}
        <div class="content">

<p><ul class="ui-list ui-border-tb">
    
    <li  onclick="location.href='gonggao.html'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/rock.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">公司公告</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    <li  onclick="location.href='password.html'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/rock.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">修改密码</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    
    <li  onclick="location.href='login.html?act=log_out'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/rock.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">注销登录</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    <span class="clothShop"></span>
     
</ul></p>





{/if}
</div>
    </body>
</html>