
{include file="w/head.html"}

{if $fall==1} 
        {include file="w/title.html"}
        <div class="content">

<p><ul class="ui-list ui-border-tb">
    
    <li  onclick="location.href='feiyong.html'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/teamwork.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">评估收费计算表</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    <li  onclick="location.href='feiyong.html?g=hejiashoufei'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/teamwork.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">核价收费计算表</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    <li  onclick="location.href='feiyong.html?g=yanzishoufei'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/teamwork.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">验资收费计算表</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    <li  onclick="location.href='feiyong.html?g=nianzhongjiesuanshencha'">
        <div class="ui-list-thumb ui-avatar-s">
           <span style="background-image:url(templates/w/home/teamwork.png)"></span>
        </div>
        <div class="ui-list-info ui-border-t" >
            <h4 class="ui-nowrap">年终结算审查收费计算表</h4>
            <p class="ui-nowrap"></p>
        </div>
        
    </li>
    
    <span class="clothShop"></span>
     
</ul></p>





{/if}
</div>
    </body>
</html>