
{include file="w/head.html"}

{if $fall==1} 
         
<h2 class="title ui-border-b">
    <a>CRM客户管理</a>
    <a class="ui-btn" href="kehuhuifang.html?g=723ee59c345de4729&kehu_id={$kehu.id}" style="margin-right: 70px;">添加回访记录</a>
    <a class="ui-btn" href="privilege.html" style="">返回</a>
</h2>
        <div class="content">
        <p><ul class="ui-list ui-list-text ui-list-link ui-border-b">

     
        {foreach from=$kehuhuifang_list item=kehuhuifang_list}
        <li class="ui-border-t">
        <h4>
        <p>客户名称:{$kehu.kehu_name}</p>
        <p style="">回访时间:{$kehuhuifang_list.huifang_time}</p>
        <p>备注:</p>
        <p>{$kehuhuifang_list.bz}</p>
        
        
        </h4>
        <div class="ui-badge">{$kehuhuifang_list.user_name}</div>
    </li>
   
    {foreachelse}
    <li class="ui-border-t">
        <h4>
        无记录
        
        </h4>
        
    </li>
    {/foreach}
</ul></p>
        
        
        
</div>
<div class="ui-btn-wrap">
    <button class="ui-btn-lg ui-btn-danger" onclick="location.href='kehu.html?g=d8864aff1b52fa689&kehu_sn={$kehu.kehu_sn}'" >
        返回客户信息
    </button>
</div>



{/if}

<script type="text/javascript">
$('.ui-searchbar').tap(function(){
    $('.ui-searchbar-wrap').addClass('focus');
    $('.ui-searchbar-input input').focus();
});
//$('.ui-searchbar-cancel').tap(function(){
//    $('.ui-searchbar-wrap').removeClass('focus');
//});

$('.ui-icon-close').tap(function(){
    $("#m_key").val("");
})
$('.ui-searchbar-cancel').tap(function(){
    location.href='?m_key='+$("#m_key").val();
    
})



    
   
    
</script> </div>
    </body>
</html>