<!DOCTYPE HTML>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>CRM客户管理</title>
       
        
        <meta name="author" content="fayching" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
       
       
        <link rel="stylesheet" type="text/css" href="frozenui/1.2.1/css/global.css">
        <link rel="stylesheet" type="text/css" href="static/demo.css">
        
        <script src="frozenjs/lib/zepto.min.js"></script>
        <script src="frozenjs/1.0.1/frozen.js"></script>
         
    </head>
    <body>
        <h2 class="title ui-border-b">
            <a>CRM客户管理</a>
            <a class="ui-btn" href="index.html" style="">返回</a>
        </h2>
        <div class="content">
<p></p>
<p><ul class="ui-list ui-list-link ui-border-tb">
    <li class="ui-border-t">
        <div class="ui-list-img">
            <span style="background-image:url(home/customer.png)" ></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">客户查询</h4>
            <p class="ui-nowrap">查询客户信息</p>
        </div>
    </li>
    <li class="ui-border-t">
        <div class="ui-list-img">
           <span style="background-image:url(home/myreport.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>楼盘查询</h4>
            <p class="ui-nowrap">查询楼盘信息</p>
        </div>
    </li>
    
    <li class="ui-border-t">
        <div class="ui-list-img">
           <span style="background-image:url(home/dashboard.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>业务评估计算</h4>
            <p class="ui-nowrap">根据项目价格计算费用</p>
        </div>
    </li>
    
    <li class="ui-border-t">
        <div class="ui-list-img">
           <span style="background-image:url(home/workflow.png)"></span>
        </div>
        <div class="ui-list-info">
            <h4>业内网站导航</h4>
            <p class="ui-nowrap">行业内专用的一些公司的网站导航</p>
        </div>
    </li>
</ul></p>

</div> 
    </body>
</html>