{include file="w/head.html"}


 
        {include file="w/title_4.html"}
  <form action="password.php?act=edit_ps"  method="POST" id="ps_word" name="ps_word">  
<div class="ui-form">
<div class="ui-form-item ui-form-item-l ui-border-b" style="text-align: center;">
        <b>修改密码</b>
            

        
        
</div>



<div class="ui-form-item ui-form-item-l ui-border-b">
        <label class="ui-border-r">
            旧秘密吗
        </label>
        <input type="password" placeholder="请输入旧密码"  name="old_password" style="" id="old_password" type="text" />
        
      
</div>
<div class="ui-form-item ui-form-item-l ui-border-b">
        <label class="ui-border-r">
            旧秘密吗
        </label>
        <input type="password" placeholder="请输入旧密码"  name="new_password" style="" id="new_password" type="text" />
        
      
</div>
<div class="ui-form-item ui-form-item-l ui-border-b">
        <label class="ui-border-r">
            旧秘密吗
        </label>
        <input type="password" placeholder="请输入旧密码"  name="new_password_2" style="" id="new_password_2" type="text" />
        
      
</div>
<div class="ui-form-item ui-form-item-l ui-border-b" style="display: none;" id="mima_err">
<a style="color: red;" style="display: none;">&nbsp;两次输入的密码不一致！</a></div>

</div>


</form>
<div class="ui-btn-group-tiled ui-btn-wrap">
    <button class="ui-btn-lg"  onclick="location.href='gerenzhongxin.html'"  >
        取消
    </button>
    <button class="ui-btn-lg ui-btn-primary"  id="tj" name="tj">
        确认
    </button>
</div>

<script type="text/javascript">
$("#old_password").focus();
	$("#new_password_2").blur(function (){
	   
       if($("#new_password").val()==$(this).val())
       {
              $("#mima_err").css("display","none");
       }else
       {
             $("#mima_err").css("display","block");
       }
       ;
       
	})
        
    $("#tj").click(function ()
    {
        if($("#old_password").val()=='')
        {
            alert("请输入旧密码");
            $("#old_password").focus();
            return false;
        }
        else if($("#new_password").val()=='')
        {
            alert("请输入新密码");
             $("#new_password").focus();
            return false;
        }
        else if($("#new_password_2").val()=='')
        {
            alert("请输入新密码");
             $("#new_password_2").focus();
            return false;
        }else
        {
            if ($("#mima_err").css("display")=="none" && $("#new_password").val()==$("#new_password_2").val())
        {
             
             htmlobj=$.ajax({
                        type:"POST",
                        //dataType: "json", 
                       
                        url:"password.php?act=edit_ps",
                        data:"old_password="+ $("#old_password").val()+"&new_password="+ $("#new_password").val()+"",
                        async:false,
                        beforeSend:function(XMLHttpRequest){
                        
                           
                            },
                            success:function(data,textStatus){
                                //alert(data);  
                                if(data==1)
                                {
                                    alert("修改成功");
                                    location.href='gerenzhongxin.html';
                                }
                                else if(data==2)
                                {
                                    alert("旧密码错误,请重新输入");
                                    window.location.reload();
                                }
                               
                            },
                            complete:function(XMLHttpRequest,textStatus){
                  
                         
                          
                            },
                            error:function(XMLHttpRequest,textStatus,errorThrown){
                         
                            }
                        
                        
                        
                        });

             
             
             
           
            
         }
        }
        
        
        
    })
</script>


    </body>
</html>